<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.CkhkMapper">

    <select id="findOneByParams" parameterType="map" resultType="ckhk">
        select * from t_ckhk where yxbz = '1' and ztbz='0'
        <if test="djh !=null and djh !=''">
             and djh = #{djh}
        </if>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="ckhk">
        select * from t_ckhk where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="ckhk">
        select * from t_ckhk where yxbz = '1'
        <if test="params.orderBy != null">
            order by #{params.orderBy}
        </if>
    </select>
    <update id="updateZtbz" parameterType="map">
         update t_ckhk set ztbz= #{ztbz}
         <if test="reason!=null and reason !=''">
         ,ckbtgyy = #{reason} 
         </if> 
         where id=#{id}
    </update>
</mapper>

