<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.ClientVersionMapper">

    <select id="findOneByParams" parameterType="map" resultType="clientVersion">
        select * from t_client_version where yxbz = '1'
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="clientVersion">
        select * from t_client_version where yxbz = '1'
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="clientVersion">
        select * from t_client_version where yxbz = '1'
        <if test="params.orderBy != null">
            order by ${params.orderBy}
        </if>
    </select>

</mapper>

