<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.CszbMapper">

	<select id="findOneByParams" parameterType="cszb" resultType="cszb">
		select * from t_cszb where yxbz = '1' and gsdm = #{gsdm}
		<if test="xfid != null and xfid != ''">
			and xfid = #{xfid}
		</if>
		<if test="kpdid != null and kpdid != ''">
			and kpdid = #{kpdid}
		</if>
		limit 1
	</select>
    <select id="findsfzlkpByParams" parameterType="cszb" resultType="cszb">
		select * from t_cszb where yxbz = '1' and gsdm = #{gsdm} and csid=#{csid} 
		<if test="xfid != null and xfid != ''">
			and xfid = #{xfid}
		</if>
		<if test="kpdid != null and kpdid != ''">
			and kpdid = #{kpdid}
		</if>
		limit 1
	</select>
	<select id="findAllByParams" parameterType="map" resultType="cszb">
		select * from t_cszb a,t_csb b where a.csid = b.id and a.yxbz='1' and b.yxbz='1' and gsdm = #{gsdm}
		<if test="xfid != null and xfid != ''">
			and a.xfid = #{xfid}
		</if>
		<if test="kpdid != null and kpdid != ''">
			and a.kpdid = #{kpdid}
		</if>
		<if test="csm != null and csm != ''">
			and b.csm = #{csm}
		</if>
		<if test="csid != null and csid != ''">
			and a.csid = #{csid}
		</if>
	</select>
	<select id="findByPage" parameterType="pagination" resultType="csbVo">
		select a.* from t_cszb a,t_csb b where a.csid=b.id and a.yxbz = '1'
		and b.yxbz = '1' and b.cslx = '2'

		<if test="params.csid != null and params.csid != ''">
			and a.csid = #{params.csid}
		</if>
		<if test="params.csjb != null and params.csjb != ''">
			and b.csjb = #{params.csjb}
		</if>
		<if test="params.gsdm != null and params.gsdm != ''">
			and gsdm = #{params.gsdm}
		</if>
		<if test="params.orderBy != null and params.orderBy != ''">
			order by ${params.orderBy} desc
		</if>
	</select>

</mapper>

