<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.DyfsMapper">

    <select id="findOneByParams" parameterType="map" resultType="dyfs">
        select * from t_dyfs where yxbz = '1'
        <if test="dyfsdm != null">
            and dyfsdm=#{dyfsdm}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="dyfs">
        select * from t_dyfs where yxbz = '1'
    </select>

    <select id="findByPage" parameterType="pagination" resultType="dyfs">
        select * from t_dyfs where yxbz = '1'
        <if test="params.orderBy != null">
            order by #{params.orderBy}
        </if>
    </select>
    
    <select id="findDyzl" parameterType="map" resultType="dyvo">
        select dyzldm,dyzlmc from t_dy_dyzl where yxbz='1'
        <if test="dylx !=null and dylx !=''">
            and dylx = #{dylx}
        </if>
    </select>
    
    <select id="findDyfs" parameterType="map" resultType="dyvo">
SELECT
  a.dylx,
	a.dyzlmc,
  a.dyzldm,
	c.dyfsdm,
	c.dyfsmc
FROM
	t_dy_dyzl a,
	t_dy_dyzl_dyfs b,
	t_dy_dyfs c
WHERE
    a.yxbz='1'
and b.yxbz='1'
and c.yxbz='1'
AND a.dyzldm = b.dyzldm
AND b.dyfsdm = c.dyfsdm
<if test="dylx !=null and dylx !=''">
    and a.dylx = #{dylx}
</if>
    </select>

</mapper>

