<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.DyWddyMapper">

    <select id="findOneByParams" parameterType="map" resultType="dyWddy">
        select * from t_dy_wddy where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="dyWddy">
        select * from t_dy_wddy where yxbz = '1'
        <if test="yhid !=null and yhid !=''">
            and yhid = #{yhid}
        </if>
        <if test="dyzldm !=null and dyzldm !=''">
           and dyzldm = #{dyzldm}
        </if>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="dyWddy">
        select * from t_dy_wddy where yxbz = '1'
        <if test="params.orderBy != null">
            order by #{params.orderBy}
        </if>
    </select>
    
    <update id="updateYxbz" parameterType="map">
        update t_dy_wddy set yxbz='0' where 1=1
        <if test="yhid !=null and yhid !=''">
           and yhid = #{yhid}
        </if>
    </update>
    
    <select id="findDyzlYh" parameterType="map" resultType="dyWddy">
         select DISTINCT dyzldm,yhid from t_dy_wddy where yxbz='1'
         <if test="dyzldm !=null and dyzldm !=''">
            and dyzldm = #{dyzldm}
         </if>
    </select>

</mapper>

