<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.DzfplogMapper">

    <select id="findOneByParams" parameterType="map" resultType="dzfplog">
        select * from t_dzfplog where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="dzfplog">
        select * from t_dzfplog where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="dzfplog">
        select * from t_dzfplog where yxbz = '1'
        <if test="params.id !=null and params.id !=''">
            and id = #{params.id}
        </if>
    </select>

</mapper>

