<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.FpjMapper">

	<select id="findOneByParams" parameterType="map" resultType="fpj">
		select * from t_fpj where yxbz = '1'
		<if test="djh != null">
			and djh = #{djh}
		</if>
		<if test="unionid != null">
			and unionid = #{unionid}
		</if>
		limit 1
	</select>

	<select id="findAllByDjh" parameterType="map" resultType="fpj">
		select * from t_fpj where yxbz = '1'
		<if test="djh != null">
			and djh = #{djh}
		</if>
	</select>

	<select id="findAllByParams" parameterType="map" resultType="fpjvo">
		SELECT
			a.djh,
			a.skpid,
			a.gfmc,
			a.jylssj,
			a.gsdm,
			a.jshj,
			CASE isnull(e.ppdm)
		WHEN 1 THEN
			CONCAT('Logo_', a.gsdm)
		ELSE
			CONCAT('Logo_', a.gsdm, '-', e.ppdm)
		END AS Logo,
		 c.ztbz,
		 c.ckbtgyy,
		 DATE_FORMAT(f.kprq, '%Y-%m-%d') kprq
		FROM
			t_jyls a
		JOIN t_fpj b ON a.djh = b.djh
		LEFT JOIN t_ckhk c ON a.djh = c.djh
		JOIN t_skp d ON a.skpid = d.id
		LEFT JOIN t_pp e ON d.pid = e.id
		LEFT JOIN (
			SELECT
				djh,
				max(kprq) kprq
			FROM
				t_kpls
			GROUP BY
				djh
			HAVING
				sum(
					CASE
					WHEN pdfurl IS NOT NULL
					AND fpztdm = '00' THEN
						1
					ELSE
						0
					END
				) = count(1)
		) f ON f.djh = a.djh
		WHERE
			a.yxbz = '1'
		AND b.yxbz = '1'
		AND a.clztdm = '91'
		<if test="qsrq != null">
			and f.kprq &gt;= #{qsrq}
		</if>
		<if test="zzrq != null">
			and f.kprq &lt; #{zzrq}
		</if>
		<if test="je != null">
			and a.jshj = #{je}
		</if>
		<if test="unionid != null">
			and b.unionid = #{unionid}
		</if>
		ORDER BY f.kprq DESC
	</select>

	<select id="findByPage" parameterType="pagination" resultType="fpjvo">
		SELECT distinct
		a.djh,
		a.skpid,
		a.gfmc,
		a.jylssj,
		a.gsdm,
		a.jshj,
		CASE isnull(e.ppdm)
		WHEN 1 THEN
		CONCAT('Logo_',a.gsdm)
		ELSE
		CONCAT('Logo_',a.gsdm, '-', e.ppdm)
		END AS Logo,
		c.ztbz,
		c.ckbtgyy
		FROM
		t_jyls a
		RIGHT JOIN t_fpj b ON a.djh = b.djh
		LEFT JOIN t_ckhk c ON a.djh = c.djh
		JOIN t_skp d ON a.skpid = d.id
		LEFT JOIN t_pp e ON d.pid = e.id
		WHERE a.yxbz = '1' AND b.yxbz = '1' AND a.clztdm = '91'
		<if test="params.unionid != null">
			and b.unionid = #{params.unionid}
		</if>
		<if test="params.gsdm !=null">
			and (a.gsdm in
			<foreach collection="params.gsdm" item="item" index="index"
				open="(" separator="," close=")"> #{params.gsdm[${index}]}</foreach>
			or a.gsdm is null)
		</if>
		<if test="params.yf!= null">
			<if test="params.yf == '1'">
				a.jylssj>DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
			</if>
			<if test="params.yf == '2'">
				a.jylssj>DATE_SUB(CURDATE(), INTERVAL 3 MONTH)
			</if>
			<if test="params.yf == '3'">
				a.jylssj &lt; DATE_SUB(CURDATE(), INTERVAL 3 MONTH)
			</if>
		</if>
		order by b.id desc
	</select>

	<select id="findAllByParam" parameterType="map" resultType="fpjvo">
		select a.djh, a.gfmc, a.jylssj, a.jshj, c.ztbz, c.ckbtgyy
		from t_jyls a
		right join t_fpj b on a.djh=b.djh
		left join t_ckhk c ON
		a.djh=c.djh
		where a.yxbz='1'
		and b.yxbz='1' and a.clztdm='91'
		<if test="unionid != null">
			and b.unionid = #{unionid}
		</if>
		order by b.id desc

	</select>


</mapper>

