<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.FpkcMapper">

    <select id="findOneByParams" parameterType="map" resultType="fpkc">
        select * from t_fpkc where yxbz = '1'
        <if test="gsdm !=null and gsdm !=''">
           and gsdm = #{gsdm}
        </if>
        <if test="xfid !=null and xfid !=''">
           and xfid = #{xfid}
        </if>
        <if test="skpid !=null and skpid !=''">
           and skpid = #{skpid}
        </if>
        <if test="fpzldm !=null and fpzldm !=''">
           and fpzldm = #{fpzldm}
        </if>
        <if test="fpdm !=null and fpdm !=''">
           and fpdm = #{fpdm}
        </if>
        <if test="fphms !=null and fphms !=''">
           and fphms = #{fphms}
        </if>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        limit 1
    </select>
    <!-- 查询发票号码止，发票号码始 -->
    <select id="findFphmd" parameterType="map" resultType="fpkc">
        select fphms,fphmz from t_fpkc where yxbz = '1'
        <if test="skpid != null and skpid !=''">
            and skpid = #{skpid}
        </if>
        <if test="fpdm !=null and fpdm != ''">
            and fpdm = #{fpdm}
        </if>
        <if test="fpzldm !=null and fpzldm != ''">
            and fpzldm = #{fpzldm}
        </if>
    </select>
    <!-- 修改时查询发票号码段 -->
    <select id="findFphmdxg" parameterType="map" resultType="fpkc">
        select fphms,fphmz from t_fpkc where yxbz = '1'
        <if test="skpid != null and skpid !=''">
            and skpid = #{skpid}
        </if>
        <if test="fpdm != null and fpdm !=''">
            and fpdm = #{fpdm}
        </if>
        <if test="fpzldm != null and fpzldm !=''">
            and fpzldm = #{fpzldm}
        </if>
        and id !=#{id}
    </select>

    <select id="findAllByParams" parameterType="map" resultType="fpkcvo">
        
    </select>
    
    <select id="findKyl" parameterType="map" resultType="fpkcvo">
         select count(fphm) kpl from t_kpls where 1=1
         <if test="gsdm !=null">
            and gsdm = #{gsdm}
         </if>
         <if test="fpzldm !=null and fpzldm !=''">
             and fpzldm = #{fpzldm}
         </if>
         <if test="fpdm !=null">
         and fpdm=#{fpdm}
         </if>
         <!-- <if test="fphms !=null && fphmz !=null"> -->
         and fphm between #{fphms} and #{fphmz}
         
    </select>

    <select id="findByPage" parameterType="pagination" resultType="fpkcvo">
        SELECT
	a.id,
	a.xfid,
	a.skpid,
	a.fpzldm,
	a.fpdm,
	a.fphms,
	a.fphmz,
	b.xfsh,
	b.xfmc,
	c.kpdmc,
    e.fpzlmc,
    (
		CONVERT (a.fphmz, SIGNED) - CONVERT (a.fphms, SIGNED) + 1
	) AS fpkcl,
	a.fpkcl kyl
FROM
	t_fpkc a,
	t_xf b,
	t_skp c,
  t_fpzl e
WHERE
	a.xfid = b.id
AND a.skpid = c.id
AND a.fpzldm = e.fpzldm
AND a.yxbz = '1'
        <if test="params.gsdm != null and params.gsdm !=''">
            and a.gsdm = #{params.gsdm}
        </if>
        <if test="params.xfid !=null and params.xfid !=''">
               and a.xfid in <foreach collection="params.xfid" item="item" index="index" 
         open="(" separator="," close=")"> #{params.xfid[${index}]}</foreach>
         </if>
        <if test="params.skpid != null and params.skpid !=''">
            and a.skpid in <foreach collection="params.skpid" item="item" index="index" 
         open="(" separator="," close=")"> #{params.skpid[${index}]}</foreach>
        </if>
        <if test="params.xfids !=null and params.xfids != ''">
            and a.xfid = #{params.xfids}
        </if>
        <if test="params.skpids !=null and params.skpids != ''">
            and a.skpid = #{params.skpids}
        </if>
        <if test="params.fpdm !=null and params.fpdm != ''">
            and a.fpdm = #{params.fpdm}
        </if>
        <if test="params.fplx !=null and params.fplx != ''">
            and a.fpzldm = #{params.fplx}
        </if>
        order by a.lrsj desc
    </select>
    
    <select id="findKpd" parameterType="map" resultType="fpkcvo">
        select id skpid,kpdmc from t_skp where yxbz='1'
        <if test="xfid != null and xfid !=''">
            and xfid = #{xfid}
        </if>
        <if test="gsdm != null and gsdm !=''">
            and gsdm = #{gsdm}
        </if>
        <if test="skpid !=null and skpid !=''"> 
             and id in <foreach collection="skpid" item="item" index="index" 
         open="(" separator="," close=")"> #{skpid[${index}]}</foreach>
        </if>
    </select>
    
    <update id="update" parameterType="map">
         update t_fpkc set xfid = #{xfid},skpid = #{skpid},fpdm = #{fpdm},fphms = #{fphms},fphmz = #{fphmz},fpkcl = #{fpkcl},fpzldm=#{fpzldm} where id = #{id}
    </update>
    
    <update id="destory" parameterType="map">
         update t_fpkc set yxbz = '0' where id=#{id}
    </update>
    <!-- 定时任务查询库存发票量 -->
    <select id="findKcfpl" resultType="fpkcvo">
          SELECT
	a.id,
	a.fpzldm,
	a.fpdm,
	a.fphms,
	a.fphmz,
    a.lrry,
    b.kpdmc,
    c.yhmc,
    c.yx,
    c.gsdm,
	a.fpkcl
    FROM
	   t_fpkc a,t_skp b,t_yh c
    where a.yxbz='1' and a.skpid= b.id and a.lrry = c.id and a.fpkcl>0
    </select>
    
    <!-- 更新没有开票数 -->
    <update id="updateFpkcl" parameterType="map">
        update t_fpkc set fpkcl = #{fpkcl} where id=#{id}
    </update>
    
    <!-- 根据用户订阅查询发票库余量 -->
    <select id="findZyKyl" parameterType="map" resultType="fpkcvo">
         select sum(a.fpkcl) kyl, b.xfmc,c.kpdmc,d.fpzlmc
           from t_fpkc a,t_xf b,t_skp c,t_fpzl d
           where a.yxbz='1' 
           and a.xfid = b.id
           and a.skpid = c.id
           and a.fpzldm = d.fpzldm
         <if test="gsdm!=null and gsdm !=''">
             and a.gsdm = #{gsdm}
         </if>
         <if test="xfid!=null and xfid !=''">
             and a.xfid = #{xfid}
         </if>
         <if test="skpid!=null and skpid !=''">
             and a.skpid = #{skpid}
         </if>
         <if test="fpzldm !=null and fpzldm !=''">
            and a.fpzldm = #{fpzldm}
         </if>
    </select>
    
    <select id="findKcjkByPage" parameterType="pagination" resultType="fpkcvo">
          select * from (select b.xfmc,b.xfsh,c.kpdmc,d.fpzlmc,sum(a.fpkcl) as kyl 
          from t_fpkc a,t_xf b,t_skp c,t_fpzl d
                 where a.xfid=b.id and a.skpid=c.id and a.fpzldm=d.fpzldm                 
        <if test="params.gsdm !=null and params.gsdm !=''">
			and a.gsdm = #{params.gsdm}
		</if>
		<if test="params.xfs !=null">
			<foreach collection="params.xfs" open=" and (a.xfid in ("
				separator="," close=")" item="item" index="index">
				#{params.xfs[${index}].id}
			</foreach>
			or a.xfid is null)
		</if>
		<if test="params.skps !=null">
			<foreach collection="params.skps" open=" and (a.skpid in ("
				separator="," close=")" item="item" index="index">
				#{params.skps[${index}].id}
			</foreach>
			or a.skpid is null)
		</if>
		<if test="params.xfid !=null and params.xfid !=''">
		   and a.xfid = #{params.xfid}
		</if>
		<if test="params.skpid !=null and params.skpid !=''">
		   and a.skpid = #{params.skpid}
		</if>
		<if test="params.fplx !=null and params.fplx !=''">
		   and a.fpzldm = #{params.fplx}
		</if>
		<if test="params.xfsh !=null and params.xfsh !=''">
		    and b.xfsh like CONCAT('%',#{params.xfsh},'%')
		</if>
		group by a.xfid,a.skpid,a.fpzldm) t where 1=1
		<if test="params.fpsl !=null and params.fpsl !=''">
		    and t.kyl &lt;= #{params.fpsl}
		</if>
    </select>
   
</mapper>

