<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.FpkcYzszMapper">

    <select id="findOneByParams" parameterType="map" resultType="fpkcYzsz">
       select * from t_fpkc_yzsz where yxbz = '1'
        <if test="yhid !=null and yhid != ''">
            and yhid = #{yhid}
        </if>
        <if test="gsdm !=null and gsdm != ''">
            and gsdm = #{gsdm}
        </if>
        <if test="xfid !=null and xfid != ''">
            and xfid = #{xfid}
        </if>
        <if test="skpid !=null and skpid != ''">
            and skpid = #{skpid}
        </if>
         <if test="fpzldm !=null and fpzldm != ''">
            and fpzldm = #{fpzldm}
        </if>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="fpkcYzsz">
        select * from t_fpkc_yzsz where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="fpkcYzsz">
        select * from t_fpkc_yzsz where yxbz = '1'
        <if test="params.orderBy != null">
            order by #{params.orderBy}
        </if>
    </select>
    
    <select id="findYhYzsz" parameterType="map" resultType="fpkcYzsz">
        select * from t_fpkc_yzsz where yxbz = '1'
        <if test="yhid !=null and yhid !=''">
           and yhid = #{yhid}
        </if>
    </select>

</mapper>

