<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.FpzlMapper">

    <select id="findOneByParams" parameterType="map" resultType="fpzl">
        select * from t_fpzl where 1=1
        <if test="fpzldm !=null and fpzldm !=''">
             and fpzldm = #{fpzldm}
        </if>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="fpzl">
        select * from t_fpzl
        
    </select>

    <select id="findByPage" parameterType="pagination" resultType="fpzl">
        select * from t_fpzl where yxbz = '1'
        <if test="params.orderBy != null">
            order by #{params.orderBy}
        </if>
    </select>
    
    <select id="findGfpsl" parameterType="map" resultType="fpnum">
         select count(*) as fpnum from t_kpls where jshj&gt;0 and fphm is not null
         <if test="gsdm !=null and gsdm !=''">
            and gsdm = #{gsdm}
         </if>
         <if test="xfs !=null">
			<foreach collection="xfs" open=" and (xfid in ("
				separator="," close=")" item="item" index="index">
				#{xfs[${index}].id}
			</foreach>
			or xfid is null)
		</if>
         <if test="xfid !=null and xfid !=''">
            and xfid = #{xfid}
         </if>
         <if test="fpzl !=null and fpzl !=''">
            and fpzldm = #{fpzl}
         </if>
         <if test="kprq !=null and kprq != ''">
            and kprq like concat('%',#{kprq},'%')
         </if>
         <if test="kprqq !=null and kprqq !='' and kprqz !=null and kprqz !=''">
            and kprq &gt;=#{kprqq} and kprq  &lt;= #{kprqz}
         </if>
                union all select count(*) from t_kpls where jshj&lt;0 and fphm is not null 
                <if test="gsdm !=null and gsdm !=''">
            and gsdm = #{gsdm}
         </if>
         <if test="xfs !=null">
			<foreach collection="xfs" open=" and (xfid in ("
				separator="," close=")" item="item" index="index">
				#{xfs[${index}].id}
			</foreach>
			or xfid is null)
		</if>
         <if test="xfid !=null and xfid !=''">
            and xfid = #{xfid}
         </if>
         <if test="fpzl !=null and fpzl !=''">
            and fpzldm = #{fpzl}
         </if>
         <if test="kprq !=null and kprq != ''">
            and kprq like concat('%',#{kprq},'%')
         </if>
         <if test="kprqq !=null and kprqq !='' and kprqz !=null and kprqz !=''">
            and kprq &gt;=#{kprqq} and kprq  &lt;= #{kprqz}
         </if>
                union all select count(*) from t_kpls where fpczlxdm='11' and fphm is not null
                <if test="gsdm !=null and gsdm !=''">
            and gsdm = #{gsdm}
         </if>
         <if test="xfs !=null">
			<foreach collection="xfs" open=" and (xfid in ("
				separator="," close=")" item="item" index="index">
				#{xfs[${index}].id}
			</foreach>
			or xfid is null)
		</if>
         <if test="xfid !=null and xfid !=''">
            and xfid = #{xfid}
         </if>
         <if test="fpzl !=null and fpzl !=''">
            and fpzldm = #{fpzl}
         </if>
         <if test="kprq !=null and kprq != ''">
            and kprq like concat('%',#{kprq},'%')
         </if>
         <if test="kprqq !=null and kprqq !='' and kprqz !=null and kprqz !=''">
            and kprq &gt;=#{kprqq} and kprq  &lt;= #{kprqz}
         </if>
                union all select count(*) from t_kpls where fpczlxdm='12' and fpztdm ='00'
                <if test="gsdm !=null and gsdm !=''">
            and gsdm = #{gsdm}
         </if>
         <if test="xfs !=null">
			<foreach collection="xfs" open=" and (xfid in ("
				separator="," close=")" item="item" index="index">
				#{xfs[${index}].id}
			</foreach>
			or xfid is null)
		</if>
         <if test="xfid !=null and xfid !=''">
            and xfid = #{xfid}
         </if>
         <if test="fpzl !=null and fpzl !=''">
            and fpzldm = #{fpzl}
         </if>
         <if test="kprq !=null and kprq != ''">
            and kprq like concat('%',#{kprq},'%')
         </if>
         <if test="kprqq !=null and kprqq !='' and kprqz !=null and kprqz !=''">
            and kprq &gt;=#{kprqq} and kprq  &lt;= #{kprqz}
         </if>
                union all select count(*) from t_kpls where fpczlxdm='13' and fpztdm='00'
                <if test="gsdm !=null and gsdm !=''">
            and gsdm = #{gsdm}
         </if>
         <if test="xfs !=null">
			<foreach collection="xfs" open=" and (xfid in ("
				separator="," close=")" item="item" index="index">
				#{xfs[${index}].id}
			</foreach>
			or xfid is null)
		</if>
         <if test="xfid !=null and xfid !=''">
            and xfid = #{xfid}
         </if>
         <if test="fpzl !=null and fpzl !=''">
            and fpzldm = #{fpzl}
         </if>
         <if test="kprq !=null and kprq != ''">
            and kprq like concat('%',#{kprq},'%')
         </if>
         <if test="kprqq !=null and kprqq !='' and kprqz !=null and kprqz !=''">
            and kprq &gt;=#{kprqq} and kprq  &lt;= #{kprqz}
         </if>
                union all select count(*) from t_kpls where fpczlxdm='21' and fpztdm='00'
                <if test="gsdm !=null and gsdm !=''">
            and gsdm = #{gsdm}
         </if>
         <if test="xfs !=null">
			<foreach collection="xfs" open=" and (xfid in ("
				separator="," close=")" item="item" index="index">
				#{xfs[${index}].id}
			</foreach>
			or xfid is null)
		</if>
         <if test="xfid !=null and xfid !=''">
            and xfid = #{xfid}
         </if>
         <if test="fpzl !=null and fpzl !=''">
            and fpzldm = #{fpzl}
         </if>
         <if test="kprq !=null and kprq != ''">
            and kprq like concat('%',#{kprq},'%')
         </if>
         <if test="kprqq !=null and kprqq !='' and kprqz !=null and kprqz !=''">
            and kprq &gt;=#{kprqq} and kprq  &lt;= #{kprqz}
         </if>
                union all select count(*) from t_kpls where fpczlxdm='23' and fpztdm='00' 
                <if test="gsdm !=null and gsdm !=''">
            and gsdm = #{gsdm}
         </if>
         <if test="xfs !=null">
			<foreach collection="xfs" open=" and (xfid in ("
				separator="," close=")" item="item" index="index">
				#{xfs[${index}].id}
			</foreach>
			or xfid is null)
		</if>
         <if test="xfid !=null and xfid !=''">
            and xfid = #{xfid}
         </if>
         <if test="fpzl !=null and fpzl !=''">
            and fpzldm = #{fpzl}
         </if>
         <if test="kprq !=null and kprq != ''">
            and kprq like concat('%',#{kprq},'%')
         </if>
         <if test="kprqq !=null and kprqq !='' and kprqz !=null and kprqz !=''">
            and kprq &gt;=#{kprqq} and kprq  &lt;= #{kprqz}
         </if>
                union all select count(*) from t_kpls where fpczlxdm='24' and fpztdm='00'
         <if test="gsdm !=null and gsdm !=''">
            and gsdm = #{gsdm}
         </if>
         <if test="xfs !=null">
			<foreach collection="xfs" open=" and (xfid in ("
				separator="," close=")" item="item" index="index">
				#{xfs[${index}].id}
			</foreach>
			or xfid is null)
		</if>
         <if test="xfid !=null and xfid !=''">
            and xfid = #{xfid}
         </if>
         <if test="fpzl !=null and fpzl !=''">
            and fpzldm = #{fpzl}
         </if>
         <if test="kprq !=null and kprq != ''">
            and kprq like concat('%',#{kprq},'%')
         </if>
         <if test="kprqq !=null and kprqq !='' and kprqz !=null and kprqz !=''">
            and kprq &gt;=#{kprqq} and kprq  &lt;= #{kprqz}
         </if>
    </select>
    
    <select id="findSpsl" parameterType="map" resultType="kpspmx">
           select DISTINCT b.spsl from t_kpls a,t_kpspmx b where a.kplsh = b.kplsh
           <if test="gsdm !=null and gsdm !=''">
              and a.gsdm=#{gsdm}
           </if>
           <if test="xfid !=null and xfid !=''">
               and a.xfid = #{xfid}
           </if>
           <if test="fpzl !=null and fpzl !=''">
               and a.fpzldm = #{fpzl} 
           </if>
    </select>
    
    <select id="findSpje" parameterType="map" resultType="slcxvo">
         SELECT
	*
FROM
	(
		SELECT
      xfmc,
			fpzl,
			sl * 100 sl,
			CASE jzjtbz
		WHEN 1 THEN
			'即征即退'
		ELSE
			'普通'
		END jzjtbz,
		sum(zsje) zsje,
		sum(fsje) fsje,
		sum(hjje) hjje,
		sum(zsse) zsse,
		sum(fsse) fsse,
		sum(hjse) hjse
	FROM
		V_FSLMX
	WHERE 1=1
		<if test="gsdm !=null and gsdm !=''">
          and gsdm = #{gsdm}
      </if>
      <if test="xfs !=null">
			<foreach collection="xfs" open=" and (xfid in ("
				separator="," close=")" item="item" index="index">
				#{xfs[${index}].id}
			</foreach>
			or xfid is null)
		</if>
      <if test="xfid !=null and xfid !=''">
          and xfid = #{xfid}
      </if>
      <if test="skpid !=null and skpid !=''">
          and skpid = #{skpid}
      </if>
      <if test="fpzl !=null and fpzl !=''">
          and fpzldm = #{fpzl}
      </if>
      <if test="kprq !=null and kprq !=''">
          and kprq like concat('%',#{kprq},'%')
      </if>
      <if test="kprqq !=null and kprqq !='' and kprqz !=null and kprqz !=''">
            and kprq &gt;=#{kprqq} and kprq  &lt;= #{kprqz}
         </if>
	GROUP BY
	    xfmc,
		fpzl,
		sl * 100,
		CASE jzjtbz
	WHEN 1 THEN
		'即征即退'
	ELSE
		'普通'
	END WITH ROLLUP
	) t
WHERE
	(
		t.jzjtbz = '普通'
		OR t.jzjtbz = '即征即退'
	)
AND t.fpzl IS NOT NULL
AND t.sl IS NOT NULL
ORDER BY
	1,
	2,
	3;
    </select>
    
     <select id="findDbsx" parameterType="map" resultType="jyxxsq">
           select DISTINCT a.* from t_jyxxsq a , t_jymxsq b WHERE a.sqlsh=b.sqlsh
		and a.yxbz ='1' and a.gsdm= #{gsdm}
         <if test="ztbz !=null and ztbz !=''">
              and a.ztbz = #{ztbz}
         </if>  
         <if test="xfs !=null">
			<foreach collection="xfs" open=" and (a.xfid in ("
				separator="," close=")" item="item" index="index">
				#{xfs[${index}].id}
			</foreach>
			or a.xfid is null)
		</if>
		<if test="skps !=null">
			<foreach collection="skps" open=" and (a.skpid in ("
				separator="," close=")" item="item" index="index">
				#{skps[${index}].id}
			</foreach>
			or a.skpid is null)
		</if>
		limit 1
     </select>
     
     <select id="findDkpsj" parameterType="map" resultType="kpls">
            select * from t_jyls where yxbz = '1' and clztdm='00' and fpczlxdm='11' and gsdm = #{gsdm}
         <if test="xfs !=null">
			<foreach collection="xfs" open=" and (xfid in ("
				separator="," close=")" item="item" index="index">
				#{xfs[${index}].id}
			</foreach>
			or xfid is null)
		</if>
		<if test="skps !=null">
			<foreach collection="skps" open=" and (skpid in ("
				separator="," close=")" item="item" index="index">
				#{skps[${index}].id}
			</foreach>
			or skpid is null)
		</if>
		limit 1
             
     </select> 

</mapper>

