<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.HbgzMapper">

    <select id="findOneByParams" parameterType="map" resultType="hbgz">
        select * from t_hbgz where yxbz = '1'
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="hbgz">
        select * from t_hbgz where yxbz = '1'
        <if test="gsdm != null and gsdm != ''">
           and gsdm = #{gsdm}
        </if>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="hbgz">
        select * from t_hbgz where yxbz = '1'
        <if test="params.gsdm != null and params.gsdm !=''">
            and  gsdm =#{params.gsdm}
        </if>
        <if test="params.gzmc != null and params.gzmc !=''">
            and  gzmc =#{params.gzm}
        </if>
        <if test="params.orderBy != null">
            order by ${params.orderBy}
        </if>
    </select>

</mapper>

