<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.IsvCorpAppMapper">

    <select id="findOneByParams" parameterType="map" resultType="isvCorpApp">
        select * from isv_corp_app where 1=1
        <if test="corpId !=null and corpId !=''">
            and corp_id = #{corpId}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="isvCorpApp">
        select * from isv_corp_app where 1=1
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="isvCorpApp">
        select * from isv_corp_app where 1=1
        <if test="params.orderBy != null">
            order by ${params.orderBy}
        </if>
    </select>
    <select id="deleteCorpApp" parameterType="map" resultType="isvCorpApp">
        delete from isv_corp_app where 1=1
        <if test="corpId !=null and corpId !=''">
            and corp_id = #{corpId}
        </if>
    </select>
</mapper>

