<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.JyxxsqMapper">

	<select id="findOneByParams" parameterType="map" resultType="jyxxsq">
		select * from t_jyxxsq where yxbz = '1'
		<if test="gsdm != null">
			and gsdm = #{gsdm}
		</if>
		<if test="ddh != null">
			and ddh = #{ddh}
		</if>
		<if test="tqm != null">
			and tqm = #{tqm}
		</if>
		<if test="jylsh != null">
			and jylsh = #{jylsh}
		</if>
		<if test="sqlsh != null">
			and sqlsh = #{sqlsh}
		</if>
		<if test="fpdm != null">
			and yfpdm = #{fpdm}
		</if>
		<if test="fphm != null">
			and yfphm = #{fphm}
		</if>
		limit 1
	</select>


	<select id="findOneByTqmAndJshj" parameterType="map" resultType="jyxxsq">
		select  a.* from t_jyxxsq a ,t_jymxsq_cl b where a.sqlsh = b.sqlsh and a.yxbz='1'
		<if test="gsdm != null">
			and a.gsdm = #{gsdm}
		</if>
		<if test="ddh != null">
			and a.ddh = #{ddh}
		</if>
		<if test="tqm != null">
			and a.tqm = #{tqm}
		</if>
		<if test="jylsh != null">
			and a.jylsh = #{jylsh}
		</if>
		<if test="sqlsh != null">
			and a.sqlsh = #{sqlsh}
		</if>
		<if test="je != null">
			and a.jshj = #{je}
		</if>
		limit 1
	</select>


	<select id="findAllByTqms" parameterType="map" resultType="jyxxsq">
		select * from t_jyxxsq where yxbz = '1'
		<if test="tqmList != null">
			<foreach collection="tqmList" open=" and tqm in (" separator=","
				close=")" item="tqm">
				#{tqm}
			</foreach>
		</if>
		<if test="gsdm != null">
			and gsdm = #{gsdm}
		</if>
		<if test="orderBy != null">
			order by #{orderBy}
		</if>
	</select>

	<select id="findAllByJylshs" parameterType="map" resultType="jyxxsq">
		select * from t_jyxxsq where yxbz = '1'
		<if test="jylshList != null">
			<foreach collection="jylshList" open=" and jylsh in ("
				separator="," close=")" item="jylsh">
				#{jylsh}
			</foreach>
		</if>
		<if test="gsdm != null">
			and gsdm = #{gsdm}
		</if>
		<if test="orderBy != null">
			order by #{orderBy}
		</if>
	</select>
	<select id="findOneByJylsh" parameterType="map" resultType="jyxxsq">
		select * from t_jyxxsq where yxbz = '1'
		<if test="gsdm != null">
			and gsdm = #{gsdm}
		</if>
		<if test="jylsh != null">
			and jylsh = #{jylsh}
		</if>
		<if test="orderBy != null">
			order by #{orderBy}
		</if>
	</select>
	<select id="findAllByDdhs" parameterType="map" resultType="jyxxsq">
		select * from t_jyxxsq where yxbz = '1'
		<if test="ddhList != null">
			<foreach collection="ddhList" open=" and ddh in (" separator=","
				close=")" item="ddh">
				#{ddh}
			</foreach>
		</if>
		<if test="gsdm != null">
			and gsdm = #{gsdm}
		</if>
		<if test="orderBy != null">
			order by #{orderBy}
		</if>
	</select>

	<select id="findXfExistByKpd" parameterType="map" resultType="xf">
		select t.* from t_xf t where t.yxbz='1' and t.id in
		(select a.xfid from t_skp a where a.kpddm =#{kpddm} and a.gsdm =#{gsdm} )
		LIMIT 1
	</select>

	<select id="findXfExistByXfsh" parameterType="map" resultType="xf">
		select t.* from t_xf t where t.yxbz='1' and t.xfsh =#{xfsh} and t.gsdm =#{gsdm}
        LIMIT 1
	</select>

	<select id="findskpExistByXfid" parameterType="map" resultType="skp">
		select t.* from t_skp t where t.yxbz='1' and t.xfid =#{xfid} and t.gsdm =#{gsdm}
		LIMIT 1
	</select>

    <select id="findBykplscxPage" parameterType="pagination" resultType="jyxxsqVO">
       select a.*,b.clztmc AS clztmc,c.fpczlxmc as fpczlxmc,d.fpzlmc as fpzlmc  from  (((`t_jyxxsq` `a` join `t_clzt` `b`) join `t_fpczlx` `c`) join `t_fpzl` `d`) where ((`a`.`clztdm` = `b`.`clztdm`) and (`a`.`fpczlxdm` = `c`.`fpczlxdm`) and (`a`.`fpzldm` = `d`.`fpzldm`))
         and  a.yxbz='1' 
         
        <if test="params.gsdm !=null and params.gsdm !=''">
			and a.gsdm = #{params.gsdm}
		</if> 
         <if test="params.xfsh != null and params.xfsh != ''" >
            and xfsh = #{params.xfsh}
        </if>
        <if test="params.xfs !=null">
			<foreach collection="params.xfs" open=" and (a.xfid in ("
				separator="," close=")" item="item" index="index">
				#{params.xfs[${index}].id}
			</foreach>
			or a.xfid is null)
		</if>
		<if test="params.skps !=null">
			<foreach collection="params.skps" open=" and (a.skpid in ("
				separator="," close=")" item="item" index="index">
				#{params.skps[${index}].id}
			</foreach>
			or a.skpid is null)
		</if>
		<if test="params.ddh !=null and params.ddh !=''">
			and a.ddh like concat('%',#{params.ddh},'%')
		</if>
        <if test="params.fpzldm !=null and params.fpzldm !=''" >
			and a.fpzldm= #{params.fpzldm}
		</if>
		<if test="params.xfsh !=null and params.xfsh !=''" >
			and a.xfsh = #{params.xfsh}
		</if>
		<if test="params.jylsh !=null and params.jylsh !=''">
			and a.jylsh = #{params.jylsh}
		</if>
		
		<if test="params.gfmc !=null and params.gfmc !=''">
			and a.gfmc like concat('%',#{params.gfmc},'%')
		</if>
		<if test="params.rqq !=null and params.rqq != ''">
			and a.ddrq &gt;= #{params.rqq}
		</if>
		<if test="params.rqz !=null and params.rqz != ''">
			and a.ddrq &lt;
			date_add(str_to_date(#{params.rqz},'%Y-%m-%d'),INTERVAL 1 day)
		</if>
		order by a.ddrq desc
    </select>
    
	<select id="findByPage" parameterType="pagination" resultType="jyxxsqVO">
		select DISTINCT a.* from t_jyxxsq a , t_jymxsq b WHERE a.sqlsh=b.sqlsh
		and a.yxbz ='1'
		<if test="params.gsdm !=null and params.gsdm !=''">
			and a.gsdm = #{params.gsdm}
		</if>
		<if test="params.ztbz !=null and params.ztbz !=''">
			and (a.ztbz = #{params.ztbz}  or a.ztbz = #{params.bfzt} )
		</if>
		<if test="params.xfs !=null">
			<foreach collection="params.xfs" open=" and (a.xfid in ("
				separator="," close=")" item="item" index="index">
				#{params.xfs[${index}].id}
			</foreach>
			or a.xfid is null)
		</if>
		<if test="params.skps !=null">
			<foreach collection="params.skps" open=" and (a.skpid in ("
				separator="," close=")" item="item" index="index">
				#{params.skps[${index}].id}
			</foreach>
			or a.skpid is null)
		</if>
		<if test="params.ddh !=null">
			and a.ddh like concat('%',#{params.ddh},'%')
		</if>
		<if test="params.fpzldm !=null">
			and a.fpzldm= #{params.fpzldm}
		</if>
		<if test="params.xfsh !=null">
			and a.xfsh = #{params.xfsh}
		</if>
		<if test="params.gfmc !=null">
			and a.gfmc like concat('%',#{params.gfmc},'%')
		</if>
		<if test="params.kprqq !=null and params.kprqq != ''">
			and a.ddrq &gt;= #{params.kprqq}
		</if>
		<if test="params.kprqz !=null and params.kprqz != ''">
			and a.ddrq &lt;
			date_add(str_to_date(#{params.kprqz},'%Y-%m-%d'),INTERVAL 1 day)
		</if>
		<!-- <if test="params.jyrqq !=null and params.jyrqq != ''"> and jylssj 
			&gt;= ${params.jyrqq} </if> <if test="params.jyrqz !=null and params.jyrqz 
			!= ''"> and jylssj &lt; date_add(str_to_date(#{params.jyrqz},'%Y-%m-%d'),INTERVAL 
			1 day) </if> -->
		<if test="params.spmc != null and params.spmc != ''">
			and b.spmc like CONCAT('%',#{params.spmc},'%')
		</if>
		<if test="params.order != null">		
		order by ${params.order}
		</if>
		${params.ord}
	</select>


   <select id="findYscByPage" parameterType="pagination" resultType="jyxxsqVO">
		select DISTINCT a.* from t_jyxxsq a , t_jymxsq b WHERE a.sqlsh=b.sqlsh
		and a.yxbz ='1' and a.ztbz not in ('0','2')
		<if test="params.gsdm !=null and params.gsdm !=''">
			and a.gsdm = #{params.gsdm}
		</if>
		<if test="params.xfs !=null">
			<foreach collection="params.xfs" open=" and (a.xfid in ("
				separator="," close=")" item="item" index="index">
				#{params.xfs[${index}].id}
			</foreach>
			or a.xfid is null)
		</if>
		<if test="params.skps !=null">
			<foreach collection="params.skps" open=" and (a.skpid in ("
				separator="," close=")" item="item" index="index">
				#{params.skps[${index}].id}
			</foreach>
			or a.skpid is null)
		</if>
		<if test="params.ddh !=null">
			and a.ddh like concat('%',#{params.ddh},'%')
		</if>
		<if test="params.fpzldm !=null">
			and a.fpzldm= #{params.fpzldm}
		</if>
		<if test="params.xfsh !=null">
			and a.xfsh = #{params.xfsh}
		</if>
		<if test="params.gfmc !=null">
			and a.gfmc like concat('%',#{params.gfmc},'%')
		</if>
		<if test="params.kprqq !=null and params.kprqq != ''">
			and a.ddrq &gt;= #{params.kprqq}
		</if>
		<if test="params.kprqz !=null and params.kprqz != ''">
			and a.ddrq &lt;
			date_add(str_to_date(#{params.kprqz},'%Y-%m-%d'),INTERVAL 1 day)
		</if>
		<!-- <if test="params.jyrqq !=null and params.jyrqq != ''"> and jylssj 
			&gt;= ${params.jyrqq} </if> <if test="params.jyrqz !=null and params.jyrqz 
			!= ''"> and jylssj &lt; date_add(str_to_date(#{params.jyrqz},'%Y-%m-%d'),INTERVAL 
			1 day) </if> -->
		<if test="params.spmc != null and params.spmc != ''">
			and b.spmc like CONCAT('%',#{params.spmc},'%')
		</if>
		order by a.ddrq desc
	</select>

	<select id="findByPage1" parameterType="pagination" resultType="jyxxsq">
		select * from t_jyxxsq where yxbz = '1' and ztbz in('0','2')
		<if test="params.clztdm != null">
			and clztdm = #{params.clztdm}
		</if>
		<if test="params.fpzldm != null and params.fpzldm != ''">
			and fpzldm = #{params.fpzldm}
		</if>
		<if test="params.fpczlxdm != null and params.fpczlxdm != ''">
			and fpczlxdm = #{params.fpczlxdm}
		</if>
		<if test="params.gfmc != null and params.gfmc != ''">
			and gfmc like concat('%',#{params.gfmc},'%')
		</if>
		<if test="params.ddh != null and params.ddh != ''">
			and ddh like concat('%',#{params.ddh},'%')
		</if>
		<if test="params.jylsh != null and params.jylsh != ''">
			and jylsh like concat('%',#{params.jylsh},'%')
		</if>
		<if
			test="params.rqq != null and params.rqq != '' and params.rqz != null and params.rqz != ''">
			and ddrq between #{params.rqq} and #{params.rqz}
		</if>
		<if test="params.gsdm != null and params.gsdm != ''">
			and gsdm = #{params.gsdm}
		</if>
		<if test="params.xfsh != null and params.xfsh != ''">
			and xfsh = #{params.xfsh}
		</if>
		<if test="params.xfs !=null">
			<foreach collection="params.xfs" open=" and (xfid in ("
				separator="," close=")" item="item" index="index">
				#{params.xfs[${index}].id}
			</foreach>
			or xfid is null)
		</if>
		<if test="params.skps !=null">
			<foreach collection="params.skps" open=" and (skpid in ("
				separator="," close=")" item="item" index="index">
				#{params.skps[${index}].id}
			</foreach>
			or skpid is null)
		</if>
		<if test="params.orderBy != null">
			order by ${params.orderBy}
		</if>
	</select>

	<insert id="saveJyxxsq" parameterType="jyxxsq" useGeneratedKeys="true"
		keyProperty="sqlsh">
		insert into t_jyxxsq (kpddm, jylsh, ddrq, ddh, fpzldm, fpczlxdm, xfid, xfsh,
		xfmc, xfyh, xfyhzh, xflxr, xfdz, xfdh, xfyb, gfid, gfsh, gfmc, gfyh,
		gfyhzh, gflxr, gfdz, gfdh, gfyb, gfemail, sffsyj, clztdm, bz, skr,
		kpr, fhr, sfcp, sfdyqd, zsfs, ssyf, hztzdh, yfpdm, yfphm, hsbz, jshj,
		ykpjshj, yxbz, lrsj, lrry, xgsj, xgry, gfsjr, gfsjrdz, gsdm, tqm,
		skpid, gfsjh, dxzt,sjly,sfzlkp,sfdy,ztbz) VALUES (#{kpddm}, #{jylsh}, #{ddrq}, #{ddh},
		#{fpzldm}, #{fpczlxdm}, #{xfid}, #{xfsh}, #{xfmc}, #{xfyh}, #{xfyhzh},
		#{xflxr}, #{xfdz}, #{xfdh}, #{xfyb}, #{gfid}, #{gfsh}, #{gfmc},
		#{gfyh}, #{gfyhzh},#{gflxr}, #{gfdz}, #{gfdh}, #{gfyb}, #{gfemail},
		#{sffsyj}, #{clztdm}, #{bz}, #{skr}, #{kpr}, #{fhr}, #{sfcp},
		#{sfdyqd}, #{zsfs}, #{ssyf}, #{hztzdh}, #{yfpdm}, #{yfphm}, #{hsbz},
		#{jshj}, #{ykpjshj}, #{yxbz}, #{lrsj}, #{lrry}, #{xgsj}, #{xgry},
		#{gfsjr}, #{gfsjrdz}, #{gsdm}, #{tqm}, #{skpid},#{gfsjh},#{dxzt},#{sjly},#{sfzlkp},#{sfdy},#{ztbz})
	</insert>
	
	
	<select id="findByMapParams" parameterType="map" resultType="jyxxsq">
        select * from t_jyxxsq where yxbz = '1'
        <if test="gsdm != null">
            and gsdm = #{gsdm}
        </if>
        <if test="jylshList != null">
            <foreach collection="jylshList" open=" and jylsh in (" separator="," close=")" item="jylsh">
                #{jylsh}
            </foreach>
        </if>
        <if test="tqmList != null">
            <foreach collection="tqmList" open=" and tqm in (" separator="," close=")" item="tqm">
                #{tqm}
            </foreach>
        </if>
    </select>
    
    <insert id="addJyxxsqBatch" useGeneratedKeys="true"
		keyProperty="sqlsh" parameterType="java.util.List">  
    
    insert into t_jyxxsq (kpddm, jylsh, ddrq, ddh, fpzldm, fpczlxdm, xfid, xfsh,
		xfmc, xfyh, xfyhzh, xflxr, xfdz, xfdh, xfyb, gfid, gfsh, gfmc, gfyh,
		gfyhzh, gflxr, gfdz, gfdh, gfyb, gfemail, sffsyj, clztdm, bz, skr,
		kpr, fhr, sfcp, sfdyqd, zsfs, ssyf, hztzdh, yfpdm, yfphm, hsbz, jshj,
		ykpjshj, yxbz, lrsj, lrry, xgsj, xgry, gfsjr, gfsjrdz, gsdm, tqm,
		skpid, gfsjh, dxzt,sjly,sfzlkp,sfdy,ztbz)   
    values  
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.kpddm},#{item.jylsh},#{item.ddrq},#{item.ddh},#{item.fpzldm},#{item.fpczlxdm},
        #{item.xfid},#{item.xfsh},#{item.xfmc},#{item.xfyh},#{item.xfyhzh},
        #{item.xflxr},#{item.xfdz},#{item.xfdh},#{item.xfyb},#{item.gfid},
        #{item.gfsh},#{item.gfmc},#{item.gfyh},#{item.gfyhzh},#{item.gflxr},
        #{item.gfdz},#{item.gfdh},#{item.gfyb},#{item.gfemail},#{item.sffsyj},
        #{item.clztdm},#{item.bz},#{item.skr},#{item.kpr},#{item.fhr},
        #{item.sfcp},#{item.sfdyqd},#{item.zsfs},#{item.ssyf},#{item.hztzdh},
        #{item.yfpdm},#{item.yfphm},#{item.hsbz},#{item.jshj},#{item.ykpjshj},
        #{item.yxbz},#{item.lrsj},#{item.lrry},#{item.xgsj},#{item.xgry},
        #{item.gfsjr},#{item.gfsjrdz},#{item.gsdm},#{item.tqm},#{item.skpid},
        #{item.gfsjh},#{item.dxzt},#{item.sjly},#{item.sfzlkp},#{item.sfdy},#{item.ztbz})  
    </foreach>    
</insert>
</mapper>

