<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.KpdVerMapper">

    <select id="findOneByParams" parameterType="map" resultType="kpdVer">
        select * from t_kpd_ver where yxbz = '1'
        <if test="macAddr != null and macAddr != ''">
            and mac_addr = #{macAddr}
        </if>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="kpdVer">
        select * from t_kpd_ver where yxbz = '1'
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="kpdVer">
        select * from t_kpd_ver where yxbz = '1'
        <if test="params.orderBy != null">
            order by ${params.orderBy}
        </if>
    </select>

    <select id="findOneByKpdid" parameterType="int" resultType="kpdVer">
        select * from t_kpd_ver where yxbz = '1' and kpdid = #{kpdid}
    </select>

</mapper>

