<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.KplsMapper">

    <select id="findOneByParams" parameterType="map" resultType="kpls">
        select * from t_kpls where yxbz = '1'
        <if test="kplsh !=null and kplsh !=''">
            and kplsh = #{kplsh}
        </if>
        <if test="fpzldm != null and fpzldm != ''">
            and fpzldm = #{fpzldm}
        </if>
        <if test="kpdid != null">
            and skpid = #{kpdid}
        </if>
        <if test="fpzldmList != null">
            <foreach collection="fpzldmList" open=" and fpzldm in (" close=")" separator="," item="fpzldm">
                #{fpzldm}
            </foreach>
        </if>
        <if test="fpztdm != null and fpztdm != ''">
            and fpztdm = #{fpztdm}
        </if>
        <if test="fpdm != null">
            and fpdm = #{fpdm}
        </if>
        <if test="fphm != null">
            and fphm = #{fphm}
        </if>
        <if test="gsdm != null">
            and gsdm = #{gsdm}
        </if>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
        limit 1
    </select>
    <!-- 根据发票号码，发票代码查询这张发票是否存在 -->
    <select id="findFpExist" parameterType="map" resultType="kpls">
		select *
		from t_kpls where fpdm = #{fpdm} and fphm = #{fphm} and yxbz='1'
	</select>
    <!-- 根据原发票号码查询原开票流水号 -->
    <select id="findByyfphm" parameterType="kpls" resultType="kpls">
		select *
		from t_kpls where hk_fpdm = #{hkFpdm} and hk_fphm = #{hkFphm} and yxbz='1'
	</select>
    <!-- 根据原发票号码查询原开票流水号 -->
    <select id="findByhzfphm" parameterType="kpls" resultType="kpls">
        select * from t_kpls where  gsdm=#{gsdm} and yxbz='1'

        <if test="hkFpdm !=null and hkFpdm !=''">
            and fpdm = #{hkFpdm}
        </if>
        <if test="hkFphm !=null and hkFphm !=''">
            and fphm = #{hkFphm}
        </if>
        <if test="jylsh !=null and jylsh !=''">
            and jylsh = #{jylsh}
        </if>
    </select>
    <!-- 根据发票号码查询开票流水号 -->
    <select id="findByfphm" parameterType="kpls" resultType="kpls">
        select * from t_kpls where fpdm = #{fpdm} and fphm = #{fphm} and yxbz='1'

    </select>

    <select id="findAllByParams" parameterType="map" resultType="fpcxvo">
        SELECT a.jshj,a.hjje,a.hjse, a.kplsh, a.fpdm,a.fphm,a.kprq,a.pdfurl,a.fpztdm, b.fpzlmc,c.fpczlxmc,e.djh,
        e.jylsh,
        e.jylssj,
        e.ddh,
        e.fpzldm,
        e.fpczlxdm,
        e.xfid,
        e.xfsh,
        e.xfmc,
        e.xfyh,
        e.xfyhzh,
        e.xflxr,
        e.xfdz,
        e.xfdh,
        e.xfyb,
        e.gfid,
        e.gfsh,
        e.gfmc,
        e.gfyh,
        e.gfyhzh,
        e.gflxr,
        e.gfdz,
        e.gfdh,
        e.gfyb,
        e.gfemail,
        e.sffsyj,
        e.clztdm,
        e.bz,
        e.skr,
        e.kpr,
        e.fhr,
        e.ssyf,
        e.hztzdh,
        e.yfpdm,
        e.yfphm,
        e.hsbz,
        e.ykpjshj,
        e.yxbz,
        e.lrsj,
        e.lrry,
        e.xgsj,
        e.xgry,
        e.gfsjr,
        e.gsdm,
        e.tqm,
        e.skpid,
        e.gfsjh,
        e.dxzt,
        d.spmc,
        d.spje,
        d.spse,
        (case when a.printflag='1' then
        '已打印'
        else '未打印' end) as sfdy,
        f.fpztmc fpzt
        FROM t_kpls a,t_fpzl
        b,t_fpczlx c,t_jyls e,t_fpzt f,t_kpspmx d
        WHERE a.fpzldm = b.fpzldm AND a.fpczlxdm = c.fpczlxdm
        and a.fpztdm = f.fpztdm and a.djh = e.djh and a.kplsh = d.kplsh
        <if test="gsdm !=null and gsdm !=''">
            and a.gsdm = #{gsdm}
        </if>
        <if test="xfid !=null and xfid !=''">
            and (a.xfid in
            <foreach collection="xfid" item="item" index="index" open="("
                     separator="," close=")">#{xfid[${index}]}
            </foreach>
            or a.xfid is null)
        </if>
        <if test="skpid !=null and skpid !=''">
            and (a.skpid in
            <foreach collection="skpid" item="item" index="index" open="("
                     separator="," close=")">#{skpid[${index}]}
            </foreach>
            or a.skpid is null)
        </if>
        <if test="ddh != null and ddh !=''">
            and e.ddh = #{ddh}
        </if>
        <if test="fphm != null and fphm !=''">
            and a.fphm = #{fphm}
        </if>
        <if test="xfsh != null and xfsh !=''">
            and a.xfsh = #{xfsh}
        </if>
        <if test="sk != null and sk !=''">
            and a.skpid = #{sk}
        </if>
        <if test="kprqq != null and kprqq !='' and kprqz != null and kprqz !=''">
            and a.kprq between #{kprqq} and
            date_add(str_to_date(#{kprqz},'%Y-%m-%d'),INTERVAL 1 day)
        </if>
        <if test="spmc != null and spmc != ''">
            and d.spmc like CONCAT('%',#{spmc},'%')
        </if>
        <if test="jzjtzt != null and jzjtzt != ''">
            and EXISTS(select * from t_kpspmx d,t_sp g where a.kplsh =
            d.kplsh and d.spdm = g.spdm and g.jzjtbz = #{jzjtzt})
        </if>
        <if test="printflag != null and printflag != ''">
            and a.printflag = #{printflag}
        </if>
        <if test="gfmc != null and gfmc != ''">
            and a.gfmc like CONCAT('%',#{gfmc},'%')
        </if>
        <if test="fpdm != null and fpdm !=''">
            and a.fpdm = #{fpdm}
        </if>
        <if test="fpzt != null and fpzt !=''">
            and a.fpztdm = #{fpzt}
        </if>
        <if test="fpczlx != null and fpczlx !=''">
            and a.fpczlxdm = #{fpczlx}
        </if>
        <if test="kplsh != null and kplsh !=''">
            and (a.kplsh in
            <foreach collection="kplsh" item="item" index="index" open="("
                     separator="," close=")">#{kplsh[${index}]}
            </foreach>
            or a.kplsh is null)
        </if>
        order by a.djh asc,a.kplsh asc
    </select>

    <select id="findByPage" parameterType="pagination" resultType="fpcxvo">
        SELECT a.jshj,a.hjje,a.hjse, a.kplsh, a.fpdm,a.fphm,a.kprq,a.pdfurl,a.fpztdm,a.errorReason, b.fpzlmc,c.fpczlxmc,e.djh,
        e.jylsh,
        e.jylssj,
        e.ddh,
        e.fpzldm,
        e.fpczlxdm,
        e.xfid,
        e.xfsh,
        e.xfmc,
        e.xfyh,
        e.xfyhzh,
        e.xflxr,
        e.xfdz,
        e.xfdh,
        e.xfyb,
        e.gfid,
        e.gfsh,
        e.gfmc,
        e.gfyh,
        e.gfyhzh,
        e.gflxr,
        e.gfdz,
        e.gfdh,
        e.gfyb,
        e.gfemail,
        e.sffsyj,
        e.clztdm,
        e.bz,
        e.skr,
        e.kpr,
        e.fhr,
        e.ssyf,
        e.hztzdh,
        e.yfpdm,
        e.yfphm,
        e.hsbz,
        e.ykpjshj,
        e.yxbz,
        e.lrsj,
        e.lrry,
        e.xgsj,
        e.xgry,
        e.gfsjr,
        e.gsdm,
        e.tqm,
        e.skpid,
        e.gfsjh,
        e.dxzt,
        d.spmc,
        (case when a.printflag='1' then
        '已打印'
        else '未打印' end) as sfdy,
        f.fpztmc fpzt
        FROM t_kpls a,t_fpzl
        b,t_fpczlx c,t_jyls e,t_fpzt f,t_kpspmx d
        WHERE a.fpzldm = b.fpzldm AND a.fpczlxdm = c.fpczlxdm
        and a.fpztdm = f.fpztdm and a.djh = e.djh and a.kplsh = d.kplsh
        <if test="params.gsdm !=null and params.gsdm !=''">
            and a.gsdm = #{params.gsdm}
        </if>
        <if test="params.xfid !=null and params.xfid !=''">
            and (a.xfid in
            <foreach collection="params.xfid" item="item" index="index"
                     open="(" separator="," close=")">#{params.xfid[${index}]}
            </foreach>
            or a.xfid is null)
        </if>
        <if test="params.skpid !=null and params.skpid !=''">
            and (a.skpid in
            <foreach collection="params.skpid" item="item" index="index"
                     open="(" separator="," close=")">#{params.skpid[${index}]}
            </foreach>
            or a.skpid is null)
        </if>
        <if test="params.ddh != null and params.ddh !=''">
            and e.ddh = #{params.ddh}
        </if>
        <if test="params.fpzldm != null and params.fpzldm !=''">
            and e.fpzldm = #{params.fpzldm}
        </if>
        <if test="params.fphm != null and params.fphm !=''">
            and a.fphm = #{params.fphm}
        </if>
        <if
                test="params.kprqq != null and params.kprqq !='' and params.kprqz != null and params.kprqz !=''">
            and a.kprq between #{params.kprqq} and
            date_add(str_to_date(#{params.kprqz},'%Y-%m-%d'),INTERVAL 1 day)
        </if>
        <if test="params.spmc != null and params.spmc != ''">
            and d.spmc like CONCAT('%',#{params.spmc},'%')
        </if>
        <if test="params.jzjtzt != null and params.jzjtzt != ''">
            and EXISTS(select * from t_kpspmx d,t_sp g where a.kplsh =
            d.kplsh and d.spdm = g.spdm and g.jzjtbz = #{params.jzjtzt})
        </if>
        <if test="params.printflag != null and params.printflag != ''">
            and a.printflag = #{params.printflag}
        </if>
        <if test="params.gfmc != null and params.gfmc !=''">
            and a.gfmc like CONCAT('%',#{params.gfmc},'%')
        </if>
        <if test="params.fpdm != null and params.fpdm !=''">
            and a.fpdm = #{params.fpdm}
        </if>
        <if test="params.fpzt != null and params.fpzt !=''">
            and a.fpztdm = #{params.fpzt}
        </if>
        <if test="params.fpczlx != null and params.fpczlx !=''">
            and a.fpczlxdm = #{params.fpczlx}
        </if>
        <if test="params.xfsh != null and params.xfsh !=''">
            and a.xfsh = #{params.xfsh}
        </if>
        <if test="params.sk != null and params.sk !=''">
            and a.skpid = #{params.sk}
        </if>
        group by a.kplsh
        order by a.lrsj desc, a.fphm desc,a.fpdm desc
    </select>
    <update id="update" parameterType="map">
		update t_kpls set printflag =
		'1' where kplsh = #{id}
	</update>

    <update id="updateHkbz" parameterType="map">
		update t_kpls set hkbz =
		#{hkbz},fpztdm = #{fpztdm} where kplsh = #{kplsh}
	</update>
    <select id="printSingle" parameterType="map" resultType="kpls">
		select *
		from t_kpls where kplsh = #{kplsh}
	</select>
    <!-- 批量打印sql -->
    <select id="printmany" parameterType="map" resultType="fpcxvo">
        select kplsh,pdfurl from t_kpls
        <where>
            kplsh in
            <foreach collection="id" item="item" index="index" open="("
                     separator="," close=")">#{item}
            </foreach>
        </where>
    </select>

    <!--重新生成PDF查询-->
    <select id="findPdf" parameterType="pagination" resultType="fpcxvo">
        select a.*,b.ddh,c.fpzlmc from t_kpls a,t_jyls b,t_fpzl c
        where a.djh = b.djh and a.fpzldm=c.fpzldm
        <!-- and a.fpzldm
        = '12' -->
        and a.fpczlxdm in('11','12')
        and a.fpzldm ='12'
        and a.fpdm is not null
        and a.fphm is not null
        and a.pdfurl is null
        and b.fpczlxdm in('11','12')
        and a.yxbz = '1'
        <if test="params.gsdm !=null and params.gsdm !=''">
            and a.gsdm = #{params.gsdm}
        </if>
        <if test="params.xfid !=null and params.xfid !=''">
            and (a.xfid in
            <foreach collection="params.xfid" item="item" index="index"
                     open="(" separator="," close=")">#{params.xfid[${index}]}
            </foreach>
            or a.xfid is null)
        </if>
        <if test="params.skpid !=null and params.skpid !=''">
            and (a.skpid in
            <foreach collection="params.skpid" item="item" index="index"
                     open="(" separator="," close=")">#{params.skpid[${index}]}
            </foreach>
            or a.skpid is null)
        </if>
        <if test="params.xfi !=null and params.xfi !=''">
            and a.xfid = #{params.xfi}
        </if>
        <if
                test="params.kprqq !=null and params.kprqq !='' and params.kprqz !=null and params.kprqz !=''">
            and a.kprq between #{params.kprqq} and
            date_add(str_to_date(#{params.kprqz},'%Y-%m-%d'),INTERVAL 1 day)
        </if>
        <if test="params.fpzldm !=null and params.fpzldm !=''">
            and a.fpzldm = #{params.fpzldm}
        </if>
        <if test="params.fpdm !=null and params.fpdm !=''">
            and a.fpdm = #{params.fpdm}
        </if>
        <if test="params.fphm !=null and params.fphm !=''">
            and a.fphm = #{params.fphm}
        </if>
        <if test="params.gfmc !=null and params.gfmc !=''">
            and a.gfmc like CONCAT('%',#{params.gfmc},'%')
        </if>
        <if test="params.ddh !=null and params.ddh !=''">
            and b.ddh = #{params.ddh}
        </if>
        order by a.lrsj desc
    </select>

    <!-- 红冲数据查询 -->
    <select id="findKhcfpByPage" parameterType="pagination"
            resultType="fpcxvo">
        select a.*,b.ddh,c.fpzlmc from t_kpls a,t_jyls b,t_fpzl c
        where a.djh = b.djh and a.fpzldm=c.fpzldm
        <!-- and a.fpzldm
        = '12' -->
        and a.fpczlxdm = '11'
        and a.fpztdm in('00','01')
        and b.fpczlxdm =
        '11'
        and a.yxbz = '1'
        <if test="params.gsdm !=null and params.gsdm !=''">
            and a.gsdm = #{params.gsdm}
        </if>
        <if test="params.xfid !=null and params.xfid !=''">
            and (a.xfid in
            <foreach collection="params.xfid" item="item" index="index"
                     open="(" separator="," close=")">#{params.xfid[${index}]}
            </foreach>
            or a.xfid is null)
        </if>
        <if test="params.skpid !=null and params.skpid !=''">
            and (a.skpid in
            <foreach collection="params.skpid" item="item" index="index"
                     open="(" separator="," close=")">#{params.skpid[${index}]}
            </foreach>
            or a.skpid is null)
        </if>
        <if test="params.xfi !=null and params.xfi !=''">
            and a.xfid = #{params.xfi}
        </if>
        <if
                test="params.kprqq !=null and params.kprqq !='' and params.kprqz !=null and params.kprqz !=''">
            and a.kprq between #{params.kprqq} and
            date_add(str_to_date(#{params.kprqz},'%Y-%m-%d'),INTERVAL 1 day)
        </if>
        <if test="params.fpzldm !=null and params.fpzldm !=''">
            and a.fpzldm = #{params.fpzldm}
        </if>
        <if test="params.fpdm !=null and params.fpdm !=''">
            and a.fpdm = #{params.fpdm}
        </if>
        <if test="params.fphm !=null and params.fphm !=''">
            and a.fphm = #{params.fphm}
        </if>
        <if test="params.gfmc !=null and params.gfmc !=''">
            and a.gfmc like CONCAT('%',#{params.gfmc},'%')
        </if>
        <if test="params.ddh !=null and params.ddh !=''">
            and b.ddh = #{params.ddh}
        </if>
        order by a.lrsj desc
    </select>

    <!-- 已红冲数据查询 -->
    <select id="findKhcfpByPage1" parameterType="pagination"
            resultType="fpcxvo">
        select a.*,b.ddh,c.fpzlmc from t_kpls a,t_jyls b ,t_fpzl c
        where a.djh = b.djh and a.fpzldm=c.fpzldm
        and a.fpztdm='00'
        and a.fpczlxdm = '12'
        and a.yxbz = '1'
        <if test="params.gsdm !=null and params.gsdm !=''">
            and a.gsdm = #{params.gsdm}
        </if>
        <if test="params.xfid !=null and params.xfid !=''">
            and (a.xfid in
            <foreach collection="params.xfid" item="item" index="index"
                     open="(" separator="," close=")">#{params.xfid[${index}]}
            </foreach>
            or a.xfid is null)
        </if>
        <if test="params.skpid !=null and params.skpid !=''">
            and (a.skpid in
            <foreach collection="params.skpid" item="item" index="index"
                     open="(" separator="," close=")">#{params.skpid[${index}]}
            </foreach>
            or a.skpid is null)
        </if>
        <if
                test="params.kprqq !=null and params.kprqq !='' and params.kprqz !=null and params.kprqz !=''">
            and a.kprq between #{params.kprqq} and
            date_add(str_to_date(#{params.kprqz},'%Y-%m-%d'),INTERVAL 1 day)
        </if>
        <if test="params.fpdm !=null and params.fpdm !=''">
            and a.fpdm = #{params.fpdm}
        </if>
        <if test="params.fpzldm !=null and params.fpzldm !=''">
            and a.fpzldm = #{params.fpzldm}
        </if>
        <if test="params.xfi !=null and params.xfi !=''">
            and a.xfid = #{params.xfi}
        </if>
        <if test="params.fphm !=null and params.fphm !=''">
            and a.fphm = #{params.fphm}
        </if>
        <if test="params.gfmc !=null and params.gfmc !=''">
            and a.gfmc like CONCAT('%',#{params.gfmc},'%')
        </if>
        <if test="params.ddh !=null and params.ddh !=''">
            and b.ddh = #{params.ddh}
        </if>
        order by a.lrsj desc
    </select>

    <!-- 重打数据查询 -->
    <select id="findKcdfpByPage" parameterType="pagination"
            resultType="fpcxvo">
        select a.*,b.ddh,c.fpzlmc from t_kpls a,t_jyls b ,t_fpzl c
        where a.djh = b.djh and a.fpzldm=c.fpzldm
        and a.fpzldm in('01','02','12')
        and a.fpczlxdm in('11','12')
        and a.fpztdm = '00'
        <!-- 	and  b.fpzldm in('01','02') -->
        and a.yxbz = '1'
        <if test="params.gsdm !=null and params.gsdm !=''">
            and a.gsdm = #{params.gsdm}
        </if>
        <if test="params.xfid !=null and params.xfid !=''">
            and (a.xfid in
            <foreach collection="params.xfid" item="item" index="index"
                     open="(" separator="," close=")">#{params.xfid[${index}]}
            </foreach>
            or a.xfid is null)
        </if>
        <if test="params.skpid !=null and params.skpid !=''">
            and (a.skpid in
            <foreach collection="params.skpid" item="item" index="index"
                     open="(" separator="," close=")">#{params.skpid[${index}]}
            </foreach>
            or a.skpid is null)
        </if>
        <if
                test="params.kprqq !=null and params.kprqq !='' and params.kprqz !=null and params.kprqz !=''">
            and a.kprq between #{params.kprqq} and
            date_add(str_to_date(#{params.kprqz},'%Y-%m-%d'),INTERVAL 1 day)
        </if>
        <if test="params.fpdm !=null and params.fpdm !=''">
            and a.fpdm = #{params.fpdm}
        </if>
        <if test="params.fphm !=null and params.fphm !=''">
            and a.fphm = #{params.fphm}
        </if>
        <if test="params.fpzldm !=null and params.fpzldm !=''">
            and a.fpzldm = #{params.fpzldm}
        </if>
        <if test="params.xfi !=null and params.xfi !=''">
            and a.xfid = #{params.xfi}
        </if>
        <if test="params.gfmc !=null and params.gfmc !=''">
            and a.gfmc like CONCAT('%',#{params.gfmc},'%')
        </if>
        <if test="params.ddh !=null and params.ddh !=''">
            and b.ddh = #{params.ddh}
        </if>
        order by a.lrsj desc
    </select>
    <select id="findKcdfpByPage1" parameterType="pagination"
            resultType="fpcxvo">
        select a.*,b.ddh from t_kpls a,t_jyls b
        where a.djh = b.djh
        and a.fpzldm in('01','02','12')
        and a.fpczlxdm in('24')
        and a.fpztdm = '00'
        <!-- 	and  b.fpzldm in('01','02') -->
        and a.yxbz = '1'
        <if test="params.gsdm !=null and params.gsdm !=''">
            and a.gsdm = #{params.gsdm}
        </if>
        <if test="params.xfid !=null and params.xfid !=''">
            and (a.xfid in
            <foreach collection="params.xfid" item="item" index="index"
                     open="(" separator="," close=")">#{params.xfid[${index}]}
            </foreach>
            or a.xfid is null)
        </if>
        <if test="params.skpid !=null and params.skpid !=''">
            and (a.skpid in
            <foreach collection="params.skpid" item="item" index="index"
                     open="(" separator="," close=")">#{params.skpid[${index}]}
            </foreach>
            or a.skpid is null)
        </if>
        <if
                test="params.kprqq !=null and params.kprqq !='' and params.kprqz !=null and params.kprqz !=''">
            and a.kprq between #{params.kprqq} and
            date_add(str_to_date(#{params.kprqz},'%Y-%m-%d'),INTERVAL 1 day)
        </if>
        <if test="params.fpdm !=null and params.fpdm !=''">
            and a.fpdm = #{params.fpdm}
        </if>
        <if test="params.fphm !=null and params.fphm !=''">
            and a.fphm = #{params.fphm}
        </if>
        <if test="params.fpzldm !=null and params.fpzldm !=''">
            and a.fpzldm = #{params.fpzldm}
        </if>
        <if test="params.xfi !=null and params.xfi !=''">
            and a.xfid = #{params.xfi}
        </if>
        <if test="params.gfmc !=null and params.gfmc !=''">
            and a.gfmc like CONCAT('%',#{params.gfmc},'%')
        </if>
        <if test="params.ddh !=null and params.ddh !=''">
            and b.ddh = #{params.ddh}
        </if>
        order by a.lrsj desc
    </select>


    <!-- 作废数据查询 -->
    <select id="findKzffpByPage" parameterType="pagination"
            resultType="fpcxvo">
        select a.*,b.ddh,c.fpzlmc from t_kpls a,t_jyls b ,t_fpzl c
        where a.djh = b.djh and a.fpzldm=c.fpzldm
        and a.fpzldm in('01','02')
        and a.fpczlxdm = '11'
        and date_format(a.kprq,'%Y-%m')=date_format(now(),'%Y-%m')
        and a.fpztdm = '00'
        <!-- 	and  b.fpzldm in('01','02') -->
        and a.yxbz = '1'
        <if test="params.gsdm !=null and params.gsdm !=''">
            and a.gsdm = #{params.gsdm}
        </if>
        <if test="params.xfid !=null and params.xfid !=''">
            and (a.xfid in
            <foreach collection="params.xfid" item="item" index="index"
                     open="(" separator="," close=")">#{params.xfid[${index}]}
            </foreach>
            or a.xfid is null)
        </if>
        <if test="params.skpid !=null and params.skpid !=''">
            and (a.skpid in
            <foreach collection="params.skpid" item="item" index="index"
                     open="(" separator="," close=")">#{params.skpid[${index}]}
            </foreach>
            or a.skpid is null)
        </if>
        <if
                test="params.kprqq !=null and params.kprqq !='' and params.kprqz !=null and params.kprqz !=''">
            and a.kprq between #{params.kprqq} and
            date_add(str_to_date(#{params.kprqz},'%Y-%m-%d'),INTERVAL 1 day)
        </if>
        <if test="params.fpdm !=null and params.fpdm !=''">
            and a.fpdm = #{params.fpdm}
        </if>
        <if test="params.fphm !=null and params.fphm !=''">
            and a.fphm = #{params.fphm}
        </if>
        <if test="params.fpzldm !=null and params.fpzldm !=''">
            and a.fpzldm = #{params.fpzldm}
        </if>
        <if test="params.xfi !=null and params.xfi !=''">
            and a.xfid = #{params.xfi}
        </if>
        <if test="params.gfmc !=null and params.gfmc !=''">
            and a.gfmc like CONCAT('%',#{params.gfmc},'%')
        </if>
        <if test="params.ddh !=null and params.ddh !=''">
            and b.ddh = #{params.ddh}
        </if>
        order by a.lrsj desc
    </select>


    <!-- 已作废数据查询 -->
    <select id="findKzffpByPage1" parameterType="pagination"
            resultType="fpcxvo">
        select a.*,b.ddh,c.fpzlmc from t_kpls a,t_jyls b ,t_fpzl c
        where a.djh = b.djh and a.fpzldm=c.fpzldm
        and a.fpztdm='08'
        and a.fpczlxdm = '14'
        and a.yxbz = '1'
        <if test="params.gsdm !=null and params.gsdm !=''">
            and a.gsdm = #{params.gsdm}
        </if>
        <if test="params.xfid !=null and params.xfid !=''">
            and (a.xfid in
            <foreach collection="params.xfid" item="item" index="index"
                     open="(" separator="," close=")">#{params.xfid[${index}]}
            </foreach>
            or a.xfid is null)
        </if>
        <if test="params.xfi !=null and params.xfi !=''">
            and a.xfid = #{params.xfi}
        </if>
        <if test="params.skpid !=null and params.skpid !=''">
            and (a.skpid in
            <foreach collection="params.skpid" item="item" index="index"
                     open="(" separator="," close=")">#{params.skpid[${index}]}
            </foreach>
            or a.skpid is null)
        </if>
        <if
                test="params.kprqq !=null and params.kprqq !='' and params.kprqz !=null and params.kprqz !=''">
            and a.kprq between #{params.kprqq} and
            date_add(str_to_date(#{params.kprqz},'%Y-%m-%d'),INTERVAL 1 day)
        </if>
        <if test="params.fpdm !=null and params.fpdm !=''">
            and a.fpdm = #{params.fpdm}
        </if>
        <if test="params.fpzldm !=null and params.fpzldm !=''">
            and a.fpzldm = #{params.fpzldm}
        </if>
        <if test="params.fphm !=null and params.fphm !=''">
            and a.fphm = #{params.fphm}
        </if>
        <if test="params.gfmc !=null and params.gfmc !=''">
            and a.gfmc like CONCAT('%',#{params.gfmc},'%')
        </if>
        <if test="params.ddh !=null and params.ddh !=''">
            and b.ddh = #{params.ddh}
        </if>
        order by a.lrsj desc
    </select>


    <update id="updateFpczlx" parameterType="map">
		update t_kpls set fpztdm
		= #{fpztdm} where kplsh = #{kplsh}
	</update>

    <select id="findAllByKpls" parameterType="kpls" resultType="kpls">
        select * from t_kpls where 1=1
        <if test="djh !=null and djh !=''">
            and djh = #{djh}
        </if>
        <if test="gsdm !=null and gsdm !=''">
            and gsdm = #{gsdm}
        </if>
        <if test="xfsh !=null and xfsh !=''">
            and xfsh = #{xfsh}
        </if>
        <if test="kplsh !=null and kplsh !=''">
            and kplsh = #{kplsh}
        </if>
        <if test="serialorder !=null and serialorder !=''">
            and serialorder = #{serialorder}
        </if>
    </select>

    <select id="findHjje" parameterType="map" resultType="kpls">
		select
		sum(spje) hjje,sum(spse) hjse,sum(spje+spse) jshj from t_kpspmx where
		kplsh = #{kplsh}
	</select>

    <update id="updateHjje" parameterType="map">
		update t_kpls set hjje =
		#{hjje},hjse = #{hjse},jshj = #{jshj} where kplsh =
		#{kplsh}
	</update>
    <!-- 红冲查询相差月份 -->
    <select id="selectMonth" parameterType="map" resultType="fpcxvo">
		select
		djh,xfsh,TIMESTAMPDIFF(MONTH,kprq,now()) xcyf from t_kpls where kplsh
		= #{kplsh}
	</select>
    <!-- 发票换开查询 -->
    <select id="findFphkByPage" parameterType="pagination"
            resultType="fpcxvo">
        SELECT DISTINCT a.*, b.fpzlmc,c.fpczlxmc,e.ddh
        FROM t_kpls a,t_fpzl
        b,t_fpczlx c,t_jyls e
        WHERE a.fpztdm='00' and a.fpzldm='12' and
        a.fpczlxdm='11' and a.fphm is not
        null and a.fpzldm = b.fpzldm AND
        a.fpczlxdm = c.fpczlxdm
        and a.djh = e.djh and e.yxbz='1' and a.yxbz='1'
        and e.fpczlxdm='11' and
        a.pdfurl is not null
        <if test="params.gsdm !=null and params.gsdm !=''">
            and a.gsdm = #{params.gsdm}
        </if>
        <if test="params.xfs !=null">
            <foreach collection="params.xfs" open=" and (a.xfid in ("
                     separator="," close=")" item="item" index="index">
                #{params.xfs[${index}].id}
            </foreach>
            or a.xfid is null)
        </if>
        <if test="params.skps !=null">
            <foreach collection="params.skps" open=" and (a.skpid in ("
                     separator="," close=")" item="item" index="index">
                #{params.skps[${index}].id}
            </foreach>
            or a.skpid is null)
        </if>

        <if test="params.ddh !=null and params.ddh !=''">
            and e.ddh = #{params.ddh}
        </if>
        <if test="params.gfmc !=null and params.gfmc !=''">
            and a.gfmc like CONCAT('%',#{params.gfmc},'%')
        </if>
        <if test="params.fpdm !=null and params.fpdm !=''">
            and a.fpdm = #{params.fpdm}
        </if>
        <if test="params.fphm !=null and params.fphm !=''">
            and a.fphm = #{params.fphm}
        </if>
        <if
                test="params.kprqq !=null and params.kprqq !='' and params.kprqz !=null and params.kprqz !=''">
            and a.kprq between #{params.kprqq} and
            date_add(str_to_date(#{params.kprqz},'%Y-%m-%d'),INTERVAL 1 day)
        </if>
        order by a.kplsh desc
    </select>

    <!-- 发票重开申请查询 -->
    <select id="findFpcksqKpls" parameterType="map" resultType="fpcxvo">
		select a.*,TIMESTAMPDIFF(MONTH,a.kprq,now()) xcyf,b.fpztmc fpzt from
		t_kpls a,t_fpzt b where a.fpztdm = b.fpztdm and a.djh = #{djh}
	</select>

    <!-- 发票换开申请查询 -->
    <select id="findHkfpsqByPage" parameterType="pagination"
            resultType="fpcxvo">
        select a.*,b.sqsj,b.ckhkyy,b.id sqid,b.ztbz hkztbz,c.ddh from t_kpls
        a,t_ckhk b,t_jyls c
        where b.ztbz in('3','4','5') and b.yxbz='1' and
        a.djh = b.djh
        and a.fpzldm ='12' and a.fpczlxdm='11' and a.fpztdm='00'
        and a.djh = c.djh and c.fpzldm='12' and c.fpczlxdm = '11'
        <if test="params.gsdm !=null and params.gsdm !=''">
            and a.gsdm = #{params.gsdm}
        </if>
        <if test="params.xfs !=null">
            <foreach collection="params.xfs" open=" and (a.xfid in ("
                     separator="," close=")" item="item" index="index">
                #{params.xfs[${index}].id}
            </foreach>
            or a.xfid is null)
        </if>
        <if test="params.skps !=null">
            <foreach collection="params.skps" open=" and (a.skpid in ("
                     separator="," close=")" item="item" index="index">
                #{params.skps[${index}].id}
            </foreach>
            or a.skpid is null)
        </if>
        <if test="params.ddh !=null and params.ddh !=''">
            and c.ddh = #{params.ddh}
        </if>
        <if test="params.gfmc !=null and params.gfmc !=''">
            and a.gfmc like CONCAT('%',#{params.gfmc},'%')
        </if>
        <if test="params.fpdm !=null and params.fpdm !=''">
            and a.fpdm = #{params.fpdm}
        </if>
        <if test="params.fphm !=null and params.fphm !=''">
            and a.fphm = #{params.fphm}
        </if>
        order by b.sqsj

    </select>

    <select id="fpgdcxdb" parameterType="map" resultType="fpcxvo">
        SELECT a.*, b.fpzlmc,c.fpczlxmc,e.ddh,f.fpztmc fpzt
        FROM t_kpls
        a,t_fpzl b,t_fpczlx c,t_jyls e,t_fpzt f
        WHERE a.fpzldm = b.fpzldm AND
        a.fpczlxdm = c.fpczlxdm
        and a.djh = e.djh and a.fpztdm=f.fpztdm and
        a.pdfurl is not null
        <if test="gsdm !=null and gsdm !=''">
            and a.gsdm = #{gsdm}
        </if>
        <if test="xfid !=null and xfid !=''">
            and a.xfid=#{xfid}
        </if>
        <if test="kprqq !=null and kprqq !='' and kprqz !=null and kprqz !=''">
            and a.kprq between #{kprqq} and
            date_add(str_to_date(#{kprqz},'%Y-%m-%d'),INTERVAL 1 day)
        </if>
        order by a.kplsh desc
    </select>
    <select id="findByDjh" parameterType="kpls" resultType="kpls">
        select * from t_kpls where yxbz = '1' and pdfurl is not null
        <if test="djh != null and djh != ''">
            and djh = #{djh}
        </if>
    </select>

    <select id="findAll" parameterType="map" resultType="kpls">
        select * from t_kpls where yxbz = '1' and pdfurl is not null
        <if test="djh != null and djh != ''">
            and djh = #{djh}
        </if>
        <if test="pdfurl != null and pdfurl != ''">
            and pdfurl in #{pdfurl}
        </if>
        <if test="fpztdm != null">
            and fpztdm = #{fpztdm}
        </if>
        <if test="serialorder !=null and serialorder !=''">
            and serialorder = #{serialorder}
        </if>
    </select>

    <select id="findAllNeedRegeneratePdfKpls" parameterType="map" resultType="kpls">
		select * from t_kpls where yxbz = '1' and fpztdm = '99'
	</select>
    <select id="findykpCount" parameterType="map" resultType="fpcxvo">
        select count( DISTINCT a.kplsh) as kpcount from t_kpls a where a.yxbz='1'
        <if test="gsdm !=null and gsdm !=''">
            and a.gsdm = #{gsdm}
        </if>
    </select>

    <!-- <select id="findKplsByDjh" parameterType="map" resultMap="kpls"> -->
    <!-- select * from t_kpls where pdfurl is not null and pdfurl != '' -->
    <!-- <if test="djh != null"> -->
    <!-- and djh=#{djh} -->
    <!-- </if> -->
    <!-- <if test="djh == null"> -->
    <!-- and djh is null -->
    <!-- </if> -->
    <!-- order by fphm -->
    <!-- </select> -->
    <!-- <select id="findKplsByPms" parameterType="map" resultMap="kpls"> -->
    <!-- <if test="tqm != null and gsdm != null"> -->
    <!-- select * from t_kpls where djh in (select djh from t_jyls where tqm=#{tqm}
        and gsdm =#{gsdm}) -->
    <!-- and fpzldm ='12' and fpczlxdm='11' and fphm is not null -->
    <!-- </if> -->
    <!-- </select> -->
    <select id="findKplsBySerialOrder" parameterType="map" resultType="kpls">
        select * from t_kpls where yxbz = '1' and gsdm =#{gsdm} and serialorder=#{serialorder}
    </select>
    <select id="findListByPagination" parameterType="pagination"
            resultType="kpls">
        select b.pdfurl from t_jyls a,t_kpls b where a.djh = b.djh
        <if test="params.jylsh != null">
            and b.jylsh = #{params.jylsh}
        </if>
        <if test="params.ddh != null">
            and a.ddh = #{params.ddh}
        </if>
        <if test="params.gfdh != null">
            and b.gfdh = #{params.gfdh}
        </if>
        <if test="params.gfmc != null and params.gfmc != ''">
            and b.gfmc like concat('%',#{params.gfmc},'%')
        </if>
        <if test="params.gsdm != null and params.gsdm != ''">
            and b.gsdm = #{params.gsdm}
        </if>
    </select>

    <select id="findList2ByPagination" parameterType="map"
            resultType="kplsvo3">
        select a.jylsh,a.ddh,b.fpdm,b.fphm,b.pdfurl,b.kprq,b.hjje,b.hjse,a.tqm,(select c.fpztmc from t_fpzt c where
        c.fpztdm=b.fpztdm) fpztmc,b.errorReason from t_jyls a,t_kpls b where a.djh = b.djh
        <if test="jylsh != null and jylsh != ''">
            and b.jylsh = #{jylsh}
        </if>
        <if test="ddh != null and ddh != ''">
            and a.ddh = #{ddh}
        </if>
        <if test="gfdh != null and gfdh != ''">
            and b.gfdh = #{gfdh}
        </if>
        <if test="gfmc != null and gfmc != ''">
            and b.gfmc like concat('%',#{gfmc},'%')
        </if>
        <if test="gsdm != null and gsdm != ''">
            and b.gsdm = #{gsdm}
        </if>
        <if test="tqm != null and tqm != ''">
            and a.tqm = #{tqm}
        </if>
        ORDER BY b.kprq desc LIMIT 100
    </select>

    <update id="updateReturnMes" parameterType="map">
		update t_kpls set fpdm =
		#{fpdm},fphm = #{fphm},jym = #{jym},mwq = #{mwq} where kplsh = #{kplsh}
	</update>

    <select id="findKplsNoPdf" resultType="kpls">
	     select * from t_kpls where fpzldm='12' and fpztdm='00' and pdfurl is null and fphm is not null and xgsj &lt; DATE_SUB(current_timestamp,INTERVAL 2 MINUTE)
	</select>

    <select id="findCountByDjh" parameterType="kpls" resultType="Integer">
	     SELECT
	count(1) - sum(
		CASE
		WHEN fpztdm = '00'
		AND pdfurl IS NOT NULL
		AND pdfurl != '' THEN
			1
		ELSE
			0
		END
	) AS sl
FROM
	t_kpls
WHERE
	yxbz = '1'
AND fpczlxdm = '11'
AND djh =#{djh}
	</select>


    <select id="findFpdbtjjgByKpdid" resultType="fptjvo" parameterType="int">
		select fpzldm,fpczlxdm,count(1) cnt from t_kpls where skpid = #{kpdid} and yxbz = '1' and fpczlxdm in ('11','12','14') and fpztdm = '04' group by fpzldm,fpczlxdm
	</select>

    <select id="findAllByMapParams" resultType="kpls" parameterType="map">
        select * from t_kpls where yxbz = '1'
        <if test="fpztdm != null and fpztdm != ''">
            and fpztdm = #{fpztdm}
        </if>
        <if test="skpid != null and skpid != ''">
            and skpid = #{skpid}
        </if>
    </select>

    <select id="findDingdingTsInfo" resultType="kpls" parameterType="map">
		select * from t_kpls t where yxbz = '1' and t.ddtsbz='0'
		 and t.fpdm is not null
		and t.fphm is not null and t.pdfurl is not null
	</select>

    <select resultType="string" parameterType="int"
            id="findSfmcByXfid"> SELECT a.sf_mc FROM sf_dmb a,t_xf b WHERE b.id = #{xfid} and f_get_sf(b.xfsh) = a.SF_DM </select>

    <select id="findAllKpjgByMap" parameterType="map" resultType="kpcxjgVo">
        select a.jylsh,a.ddh,b.fpztdm,c.fpztxsmc fpztmc,b.errorReason,b.fpdm,b.fphm,b.kprq,b.hjje,b.hjse,b.pdfurl,a.tqm
         from t_jyls a,t_kpls b,t_fpzt c,t_skp d
         where a.djh = b.djh
         and b.fpztdm = c.fpztdm
         and a.skpid = d.id
         and a.gsdm = #{gsdm}
         and a.yxbz = '1'
         and b.yxbz = '1'
         and d.yxbz = '1'
         <if test="kpddm != null">
             and d.kpddm = #{kpddm}
         </if>
         <if test="fpzldm != null">
             and a.fpzldm = #{fpzldm}
         </if>
         <if test="jylsh != null">
             and a.jylsh = #{jylsh}
         </if>
         <if test="ddh != null">
             and a.ddh = #{ddh}
         </if>
         <if test="tqm != null">
             and a.tqm = #{tqm}
         </if>
         limit 100
    </select>

</mapper>

