<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.KppmxxMapper">

    <select id="findOneByParams" parameterType="map" resultType="kppmxx">
        select * from t_kppmxx where 1=1
        <if test="xfsh != null">
            and xfsh = #{xfsh}
        </if>
        <if test="gsdm != null">
            and gsdm = #{gsdm}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="kppmxx">
        select * from t_kppmxx where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="kppmxx">
        select * from t_kppmxx where yxbz = '1'
        <if test="params.orderBy != null">
            order by #{params.orderBy}
        </if>
    </select>

</mapper>

