<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.PrivilegeTypesMapper">
<!-- 	<resultMap type="com.rjxx.taxeasy.domains.PrivilegeTypes" id="PrivilegeTypesSultMap">   -->
<!--         <id column="id" property="id"/>   -->
<!--         <result column="name" property="name"/> -->
<!--         <collection property="privileges" ofType="com.rjxx.taxeasy.domains.Privileges" column="privilegeTypeId">   -->
<!--             <id column="id" property="id"/>   -->
<!--        		<result column="name" property="name"/> -->
<!-- 	        <result column="description" property="description"/>   -->
<!-- 	        <result column="sort" property="sort"/>   -->
<!-- 	        <result column="urls" property="urls"/>   -->
<!-- 	        <result column="ztbz" property="ztbz"/>   -->
<!-- 	        <result column="lrsj" property="lrsj"/>  -->
<!-- 	        <result column="lrry" property="lrry"/>  -->
<!-- 	        <result column="xgsj" property="xgsj"/>  -->
<!-- 	        <result column="xgry" property="xgry"/>  -->
<!-- 	        <result column="yxbz" property="yxbz"/>   -->
<!--         </collection>   -->
          
<!--     </resultMap>  -->
    <select id="findOneByParams" parameterType="map" resultType="privilegeTypes">
        select * from privilege_types where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="privilegeTypes">
        select * from privilege_types where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="privilegeTypes">
        select * from privilege_types where yxbz = '1'
        <if test="params.orderBy != null">
            order by #{params.orderBy}
        </if>
    </select>
	<select id="findBySql" parameterType="Map" resultType="privilegeTypesVo">
        select * from privilege_types where yxbz = '1' and ID IN(SELECT PRIVILEGETYPEID FROM PRIVILEGES WHERE ID IN (SELECT PRIVID FROM ROLEPRIVS WHERE 1 = 1  
        <foreach collection="idList" open=" and ROLEID in (" separator="," close=")" item="item">
                #{item}
            </foreach>) 
            and yxbz ='1' and privilege_types.name != '基础数据'  and privilege_types.name != '系统管理')
    </select>
    
    <select id="findPriviName" parameterType="map" resultType="privilegeTypes">
            select a.* from privilege_types a,privileges b 
        where a.id = b.privilegeTypeId and b.yxbz='1' 
        <if test="url !=null and url !=''">
         and b.urls = #{url}
        </if>
        limit 1
    </select>
</mapper>

