<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.SpMapper">

    <select id="findOneByParams" parameterType="sp" resultType="sp">
        select * from t_sp where yxbz = '1' 
        <if test="spdm != null">
            and spdm = #{spdm}
        </if>
        <if test="spmc != null">
            and spmc = #{spmc}
        </if>
        <if test="gsdm != null">
            and gsdm = #{gsdm}
        </if>
        <if test="id != null">
            and id != #{id}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="sp" resultType="sp">
        select * from t_sp where yxbz = '1'
        <if test="gsdm != null">
            and gsdm =  #{gsdm}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="sp">
        select * from t_sp where yxbz = '1'
        <if test="params.spmc != null">
            and spmc =  #{params.spmc}
        </if>
        <if test="params.orderBy != null">
            order by #{params.orderBy}
        </if>
    </select>

</mapper>

