<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.XtLogMapper">

    <select id="findOneByParams" parameterType="map" resultType="xtLog">
        select * from t_xt_log where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="xtLog">
        select * from t_xt_log where yxbz = '1'
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="xtLogvo">
       select a.anctionobj,a.description,a.details,a.requestip,a.time,(SELECT b.yhmc from t_yh b where b.id=a.operator) operator from t_xt_log a where 1=1
       <if test="params.gsdm != null and params.gsdm != ''">
            and a.gsdm = #{params.gsdm}
        </if>
               ORDER BY a.time desc
    </select>

</mapper>

