<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.YhMapper">

    <select id="findOneByParams" parameterType="map" resultType="yh">
        select * from t_yh where yxbz = '1'
        <if test="dlyhid != null and dlyhid !=''">
            and dlyhid = #{dlyhid}
        </if>
        <if test="gsdm != null and gsdm !=''">
            and gsdm = #{gsdm}
        </if>
        <if test="yhmm != null and yhmm !=''">
            and yhmm = #{yhmm}
        </if>
        <if test="yhid !=null and yhid !=''">
            and id = #{yhid}
        </if>
        <if test="userid !=null and userid !=''">
            and dinguserid = #{userid}
        </if>
        limit 1
    </select>

    <select id="findOneByParam" parameterType="map" resultType="yh">
        select dlyhid,zhlxmc zhlxdm from t_yh a, t_dm_zhlx b where a.zhlxdm=b.zhlxdm and a.yxbz = '1'
        <if test="id != null and id !=''">
            and id = #{id}
        </if>
        <if test="gsdm != null and gsdm !=''">
            and gsdm = #{gsdm}
        </if>
        <if test="yhmm != null and yhmm !=''">
            and yhmm = #{yhmm}
        </if>
        limit 1
    </select>
    
    <select id="findOneByYhVo" parameterType="map" resultType="yhvo">
        select a.*,b.zhlxmc as zhlxmc  from t_yh a, t_dm_zhlx b where a.zhlxdm=b.zhlxdm and a.yxbz = '1'
        <if test="id != null and id !=''">
            and id = #{id}
        </if>
        <if test="gsdm != null and gsdm !=''">
            and gsdm = #{gsdm}
        </if>
        <if test="yhmm != null and yhmm !=''">
            and yhmm = #{yhmm}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="yh">
        select * from t_yh where yxbz = '1'
        <if test="gsdm != null and gsdm !=''">
            and gsdm = #{gsdm}
        </if>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>
    <select id="findAllByYHCount" parameterType="map" resultType="yhvo">
        select count( DISTINCT a.id) as yhcount from t_yh a where a.yxbz='1'
        <if test="gsdm != null and gsdm !=''">
            and gsdm = #{gsdm}
        </if>
        <if test="orderBy != null">
            order by #{orderBy}
        </if>
    </select>
    <select id="findByPage" parameterType="pagination" resultType="yh">
        select * from t_yh where yxbz = '1'
         <if test="params.yhzh != null and params.yhzh != ''">
            and dlyhid like concat('%',#{params.yhzh},'%')
        </if>
 		<if test="params.yhmc != null and params.yhmc != ''">
            and yhmc like concat('%',#{params.yhmc},'%')
        </if>
        <if test="params.gsdm != null and params.gsdm != ''">
            and gsdm = #{params.gsdm}
        </if>
    </select>

</mapper>

