<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.ZffsMapper">

    <select id="findOneByParams" parameterType="map" resultType="zffs">
        select * from t_zffs where yxbz = '1'
        <if test="gsdm != null and gsdm !=''">
             and gsdm = #{gsdm}
        </if>
        <foreach collection="kpfsList" open=" and kpfs_dm in (" separator="," close=")" item="item">
                #{item}
         </foreach>
         <foreach collection="zffsList" open=" and zffs_dm in (" separator="," close=")" item="item">
                #{item}
         </foreach>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="zffs">
        select * from t_zffs where yxbz = '1'
          <if test="gsdm != null and gsdm !=''">
            and gsdm = #{gsdm}
        </if>
        <if test="kpfsList != null">
       	 	<foreach collection="kpfsList" open=" and kpfs_dm in (" separator="," close=")" item="item">
                	#{item}
         	</foreach>
         </if>
         <if test="zffsList != null">
        	<foreach collection="zffsList" open=" and zffs_dm in (" separator="," close=")" item="item">
               	 #{item}
       		</foreach>
         </if>
         <if test="zffsDm !=null and zffsDm !=''">
             and zffs_dm = #{zffsDm}
         </if>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

	<select id="findAllByMap" parameterType="map" resultType="zffsvo">
        select a.* from t_zffs a where a.yxbz = '1' 
        <if test="gsdm != null and gsdm !=''">
            and a.gsdm = #{gsdm}
        </if>
        <if test="kpfsList != null">
        	<foreach collection="kpfsList" open=" and a.kpfs_dm in (" separator="," close=")" item="item">
               	 #{item}
         	</foreach>
         </if>
        <if test="zffsList != null">
        	<foreach collection="zffsList" open=" and a.zffs_dm in (" separator="," close=")" item="item">
               	 #{item}
       		</foreach>
         </if>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>
    <select id="findByPage" parameterType="pagination" resultType="zffs">
        select * from t_zffs where yxbz = '1'
        <if test="params.orderBy != null">
            order by ${params.orderBy}
        </if>
    </select>

</mapper>

