.t1{text-align: center;height: 50px;line-height: 50px;font-size: 12px;color: #EC971F;}
.t2{text-align: center;height: 30px;line-height: 30px;font-size: 12px;}
.t3{width: 100%;height: 50px;}
.t3 .t3_1{width: 60%;height: 50px;margin: 0 auto;}
.jieshao{width: 96%;margin: 0 auto;}


.zuo{width: 90%;height: 50px;float: left;}
.zuo .z1{width: 100%;height: 25px;float: left;line-height: 25px;}
.zuo .z2{width: 100%;height: 25px;float: left;line-height: 25px;}
.zuo .z2 .z2z{width: 25%;height: 25px;float: left;line-height: 25px;}
.you{width: 10%;height: 50px;float: right;line-height: 50px;color: #007AFF;}
