body,html {
	min-width: 320px;
	max-width: 800px;
	margin: 0 auto;
}
header {
	min-width: 320px;
	max-width: 800px;
	margin: 0 auto;
}
header img {
	width: 100%;
	height: 100%;
}
#index {
	position: relative;
}
.title {
	margin: 20px 15px 7px;
	color: #6d6d72;
	font-size: 15px;
}
footer {
	position: fixed;
	bottom: 0; 
	width: 100%; 
	background-color: #F7F7F7;
	border-top: 1px solid #CBCBCB;
	min-width: 320px;
	max-width: 800px;
	margin: 0 auto;

}
footer p {
	margin: 10px;
	color: #000;
	box-sizing: border-box;
	line-height: 40px;
}
.step {
	margin: 10px 0;
}
.eTip {
	color: red;
	margin-left: 2%;
}
.company {
	font-size: 16px;
	float: left;
}
.help {
	font-size: 18px;
	float: right;
}
.saveEwm {
	width: 50px; 
	height: 50px; 
	float: left;
}
.sendEvm {
	line-height: 50px; 
	font-size: 15px; 
	font-weight: 700;
}				
.data-tip {
	padding: 7px 15px;
}
.data-yzm {
	width: 100px;
	height: 50px;
	float: right;
}
.star {
	color: red;
}
.ctr {
	text-align: center;
}

#Button1 {
	margin-bottom: 65px;
}