
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf?t=1496917502641') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
.icon-jikediancanicon23:before { content: "\e785"; }

.icon-youxiang:before { content: "\e62f"; }

.icon-fapiao:before { content: "\e602"; }

.icon-fapiao1:before { content: "\e607"; }

.icon-fapiaoguanli:before { content: "\e6f4"; }

.icon-fapiaoguanli1:before { content: "\e61d"; }

.icon-fapiaoguanli2:before { content: "\e610"; }

.icon-fapiaotaitou:before { content: "\e62a"; color: green;font-size:20px;}

.icon-dingdanbianhao:before { content: "\e697"; color: green;font-size:20px;}

.icon-dingdanbianhaoicon:before { content: "\e669"; color: green;font-size:20px;}

.icon-icon-mail:before { content: "\e60a"; color: green;font-size:20px;}

.icon-icon:before { content: "\e60e"; color: green;font-size:20px;}

.icon-youxiang4:before { content: "\e622"; color: green;font-size:20px;}
