.middle ul {
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	box-sizing: border-box;
	border-bottom: 1px dashed #ECECEC;
	text-indent: 10px;
}
.middle li.fl {
	width: 35%;
	color: #94969C;
}
.middle li.fr {
	width: 65%;
	color: #424347;
}