
.middle .right {
	text-align: center;
}
.right img {
	vertical-align:middle;
}
.right span {
	color: #343434;
	vertical-align:middle;
}
.entry {
	width: 85%;
	height: 40px;
	line-height: 40px;
	margin: 0px auto;
    box-sizing: border-box;
    border-bottom: 1px dashed #ECECEC;
}
.entry label {
	width: 30%;
	color: #7B7F87;
	font-size: 14px;
}
.entry span {
	width: 70%;
	font-size: 14px;
}
#sure {
	width: 50%;
}
#revise {
	width: 30%;
	background-color: #86C994;
}
.fr {
	color: #ccc;
}
